{% extends "base.html" %}
{% block content %}

<section class="container">
  <section class="payment_response">
  	<section class="span4">
  		<center>
  			<img src="http://commondatastorage.googleapis.com/site-images%2Ffrontend%2Fimg%2F404.png"/>
  		</center>
  	</section>  	
  	<section class="span5 col">
  	<br/>
  	<br/>
  	<br/>
  	<br/>
  	<br/>
  		<h2>404</h2>
  		<p>La página que buscas no la hemos podido encontrar, intenta nuevamente o revisa las giftcards que tenemos para tí</p>
  		<br/>
  		<a href="/" class="btn primary">Ver giftcards</a>
  	</section>
  </section>
</section>

{% endblock %}
