{% load staticfiles %}
{% load locale_price %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <meta name="google-site-verification" content="xRtB_K0Azs8vEsau5QyO4uzCu28wEt9RCoLU378CV28" />
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="Pragma" content="no-cache">
    <title>{% block title %}{% endblock %}Giviu - Buscar y Enviar Regalos Originales Personalizados</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    <link rel="stylesheet/less" type="text/css" href="{% static "css/LESS/style.less" %}"/>
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}"/>
    <script src="{% static "js/less-1.3.3.min.js" %}"></script>
    <script src="{% static "js/prefixfree.min.js" %}"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script src="{% static "js/jquery.carouFredSel-5.6.2.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/lightbox-2.6.min.js" %}"></script>
    <script src="{% static "js/modernizr.min.js" %}"></script>
    <script src="{% static "js/global.js" %}"></script>

    <meta property="fb:admins" content="esteldesign"/>
    <meta property="fb:app_id" content="259478790867380"/>
    <meta itemprop="name" content="Giviu.com">
    <meta itemprop="description" content="Giviu - Buscar y Enviar Regalos Originales Personalizados">
    <meta name="description" content="Busca personaliza y envia giftcards a quien quieras" />
    <meta name="news_keywords" content="Giftcard, giftcards,regalo, regalos, regalos especiales, gift, card" />
    <meta property="og:site_name" content="Giviu - Buscar y Enviar Regalos Originales Personalizados" />
    {% block meta %}
    <meta property="og:url" content="http://www.giviu.com/" />
    <meta property="og:image" content="{% static "img/155x100.png" %}"/>
    <meta property="og:title" content="Giviu.com" />
    <meta property="og:description" content="Buscar y Enviar Regalos Originales Personalizados" />
    <meta property="og:url" content="http://www.giviu.com" />
    {%endblock%}

    {{ additional_head|safe }}

  </head>
  <body class="cf">
    <header class="span9 {% if products %}header{% endif %}">
      <div class="container big">
        <div class="span1">
          <a href="/" class="title"><img src="{% static "img/logo.png" %}"></a>
        </div>
        <div class="span4 tagline col">
            <a href="/" class="">
              Todos
            </a>
          {% for category in categories %}
          {% if category.count > 0 %}
            <a href="/giftcard/category/{{ category.slug }}" class="{% if this_category.name == category.name %}selected{% endif %}">
              {{ category.name }}
            </a>
          {% endif %}
          {% endfor %}
        </div>
        <nav class="span4 col showyourlove">
          <ul>
            {% if user.is_authenticated %}
            <li id="userInfo">
              <a href="/user">
                <span class="name">Hola <strong id="session-name">{{ user.first_name }}</strong>
                {% if credits %} | creditos: <strong>{{ credits|clp }}</strong> {% endif %}</span>
                 <figure class="avatarHeader"><img src="{{ user.get_user_image }}"/></figure>
              </a>
              <a href="/logout" class="btn secondary logout" id="logout"><span class="icon-close"></span></a>
            </li>
            {% else %}
            <li class="not-logged"><a href="/login" class="btn primary">Ingresar</a></li>
            {% endif %}
          </ul>

        </nav>
        <div class="mobileActions" style="display:none;">
          <a href="#" class="btn secondary"><span class="icon-menu"></span></a>
        </div>
      </div>
    </header>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

<!--     {% if user.is_authenticated %}
    <div class="span9" id="referal">
      <center>
       <a class="referer" href="http://www.facebook.com/sharer.php?u=www.giviu.com/referer/{{ user.referer }}"><span class="icon-facebook"></span> Invita a tus amigos y gana dinero para comprar en Giviu <strong>click aquí</strong> </a>
      </center>
    </div>
    {% endif %} -->
        <nav class="mobile" style="display:none;">
          <input type="hidden" id="fb-id" value="{{ user.fbid }}"/>
          <ul>
            {% if user.is_authenticated %}
            <li><a href="?session=off" >Cerrar sesion</a></li>
            <li><a href="/user/profile"> Hola <strong>{{ user.name }}</strong></a></li>
            {% else %}
            <li><a href="/register">Ingresa</a></li>
            {% endif %}
          </ul>
        </nav>
{% block content %}<h1> CONTENIDO </h1>{% endblock %}

    <div id="alertMessage" style="display:none;">
      <h2 id="alertTitle">alert</h2>
      <div class="close" data-close="alertMessage">
        <span class="icon-close"></span>
      </div>
      <div id="alertContent" class="span9">
      </div>
    </div>

    <span id="likeLoginMessage" style="display:none;">
      <div class="span9" id="likeLogin">
        <div class="span4">
          <strong>
            <span class="icon-heart ico"></span>
          </strong>
        </div>
        <div class="span5">
          Para hacer like debes ingresar
        </div>
        <div class="span9" id="likeLoginAction">
          <a href="/register" class="login">Ingresa aquí</a>
        </div>
      </div>
    </span>

    <footer class="span9">
      <section class="container">
        <div class="span3">
          <ul>
            <li><a href="/page/como-funciona">¿Cómo funciona <strong>Giviu</strong>?</a></li>
            <li><a href="/page/prensa">Giviu en la prensa</a></li>
            <li><a href="/page/preguntas-frecuentes">Preguntas frecuentes</a></li>
          </ul>
        </div>
        <div class="span3 col">
          <ul>
            <li><a href="/page/empresas">¿Eres empresa?<strong> publica con nosotros</strong></a></li>
            <li><a href="/page/contacto">Contáctanos</a></li>
            <li><a href="/page/terminos-y-condiciones">Terminos y condiciones</a></li>
          </ul>
        </div>
        <div class="span3 col">
          <div class="span5">
            <h3>Síguenos</h3>
            <a href="http://www.twitter.com/giviuchile" class="social twitter"><span class="icon-twitter"></span></a>
            <a href="http://www.facebook.com/giviuchile" class="social facebook"><span class="icon-facebook"></span></a>
          </div>
          <div class="span4 col">
            <img src="{% static "img/logo.png" %}">
          </div>
        </div>
      </section>

    </footer>
<script src="{% static "js/facebookconnect.js" %}"></script>

    <script>
      if (window.location.hostname == 'www.giviu.com'){
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46002547-1', 'giviu.com');
      ga('send', 'pageview');
      }

    </script>
  </body>
</html>
