{% load staticfiles %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />    
    <meta http-equiv="Pragma" content="no-cache">
    <title>Giviu {% if title %}- {{ title }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    <link rel="stylesheet/less" type="text/css" href="{% static "css/LESS/style.less" %}"/>
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}"/>
    <script src="{% static "js/less-1.3.3.min.js" %}"></script>
    <script src="{% static "js/prefixfree.min.js" %}"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery-1.10.2.min.map.map" %}"></script>
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script src="{% static "js/jquery.carouFredSel-5.6.2.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/jquery.tipsy.js" %}"></script>
    <script src="{% static "js/modernizr.min.js" %}"></script>
    <script src="{% static "js/global.js" %}"></script>

    <meta property="fb:admins" content="esteldesign"/>
    <!--<meta property="fb:app_id" content="434125903369455"/>-->
    <meta itemprop="name" content="Giviu - Busca, personaliza y envia giftcards a quien quieras {{ title }}">
    <meta itemprop="description" content="Busca personaliza y envia giftcards a quien quieras">
    <meta name="description" content="Busca personaliza y envia giftcards a quien quieras" />
    <meta name="news_keywords" content="Giftcard, giftcards,regalo, regalos, regalos especiales, gift, card" />
    <meta property="og:site_name" content="giviu.com" />
    <meta property="og:url" content="http://www.giviu.com/" />

    <meta property="og:image" content="{% static "img/155x100.png" %}"/>
    <meta property="og:title" content="Giviu.vom" />
    <meta property="og:description" content="Busca personaliza y envia giftcards a quien quieras" />
    <meta property="og:url" content="<? echo full_url(); ?>" />
    <style>

      #giftCardList[data-columns]::before {
      content: '3 .column.size-1of3';
      }

      #calendar[data-columns]::before {
      content: '3 .column.size-1of3';
      }

      #giftCardSearch[data-columns]::before {
      content: '4 .column.size-1of4';
      }      

      /* These are the classes that are going to be applied: */
      .column { float: left; margin:0px;}
      .size-1of3 { width: 33.333%; }
      .size-1of4 { width: 25%; }
      .size-1of2 { width: 50%; }

      /* Also, don't forget to add this: */
      [data-columns]::before { display: none; }

    </style>

    {{ additional_head|safe }}

  </head>
  <body class="cf <? echo $home;?>">
    <header class="span9 <? echo $header;?>">
      <div class="container">
        <div class="span2">
          <a href="/" class="title"><img src="{% static "img/logo.png" %}"></a>
        </div>
        <nav class="span7 col showyourlove">
          <ul>
            {% if user.is_authenticated %}
            <li><a href="/logout" class="btn secondary logout" id="logout"><span class="icon-close"></span></a></li>
            <li id="userInfo">
              <a href="/user">
                <figure class="avatarHeader"><img src="https://graph.facebook.com/{{ user.fbid }}/picture?width=40&amp;height=40"/></figure>
                <span class="name">Hola <strong id="session-name">{{ user.first_name }}</strong></span>
              </a>
            </li>
            {% else %}
            <li><a href="/register" class="btn primary"><span class="icon-user"></span> Ingresa</a></li>
            <li><a href="/page/giviu" class="normal">¿Cómo funciona <strong>Giviu</strong>?</a></li>
            {% endif %}
          </ul>
        </nav>
        <div class="mobileActions" style="display:none;">
          <a href="#" class="btn secondary"><span class="icon-menu"></span></a>
        </div>
      </div>
    </header>
        <nav class="mobile" style="display:none;">
          <ul>
            {% if user.is_authenticated %}
            <li><a href="?session=off" >Cerrar sesion</a></li>
            <li><a href="/user/profile"> Hola <strong>{{ user.name }}</strong></a></li>
            {% else %}
            <li><a href="/register">Ingresa</a></li>
            {% endif %}
          </ul>
        </nav>


    <div id="alertMessage" style="display:none;">
      <h2 id="alertTitle">alert</h2>
      <div class="close" data-close="alertMessage">
        <span class="icon-close"></span>
      </div>
      <div id="alertContent" class="span9">
      </div>
    </div>

    <span id="likeLoginMessage" style="display:none;">
      <div class="span9" id="likeLogin">
        <div class="span4">
          <strong>
            <span class="icon-heart ico"></span>
          </strong>
        </div>
        <div class="span5">
          Para hacer like debes ingresar
        </div>
        <div class="span9" id="likeLoginAction">
          <a href="/register" class="login">Ingresa aquí</a>
        </div>
      </div>
    </span>


{% block content %}<h1> CONTENIDO </h1>{% endblock %}

    <footer class="span9">
      <section class="container">
        <div class="span3">
          <ul>
            <li><a href="/page/giviu">¿Qué es <strong>Giviu</strong>?</a></li>
            <li><a href="/page/como-funciona">¿Cómo funciona <strong>Giviu</strong>?</a></li>
            <li><a href="/page/preguntas-frecuentes">Preguntas frecuentes</a></li>
          </ul>
        </div>
        <div class="span3 col">
          <ul>
            <li><a href="/page/empresas">¿Eres empresa?<strong> publica con nosotros</strong></a></li>
            <li><a href="/page/contacto">Contáctanos</a></li>
            <li><a href="/page/terminos-y-condiciones">Terminos y condiciones</a></li>
          </ul>
        </div>
        <div class="span3 col">
          <div class="span5">
            <h3>Síguenos</h3>
            <a href="http://www.facebook.com/giviuchile" class="social twitter"><span class="icon-twitter"></span></a>
            <a href="http://www.twitter.com/giviuchile" class="social facebook"><span class="icon-facebook"></span></a>
          </div>
          <div class="span4 col">
            <img src="{% static "img/logo.png" %}">
          </div>
        </div>
      </section>

    </footer>
    <script src="{% static "js/salvattore.min.js" %}"></script>


  </body>

</html>
