{% extends "base.html" %}
{% load locale_price %}
{% block content %}
<section class="container steps">
  <span class="stepIndicator">
    3
  </span>
  <span class="actualStep">Seleccionar giftcard / personalizar giftcard / pagar</span>
</section>

<section class="container pay">
  <h2>Confirmación de compra</h2>
  <div class="span9 paymentInfo">
    <div class="span3">
      {% if not giftcard.auto_validate %}
      <figure class="span9">
        <img src="{{ design.image }}">
      </figure>
      {% endif %}

    </div>
    <div class="span6 col">
      <h3>{{ giftcard.merchant.name }}</h3>
      {% if original_price != price %}
      <strong class="price no-price">{{ original_price|clp }}</strong>
      <strong class="price new-price">{{ price|clp }}</strong>
      {% else %}
      <strong class="price">{{ original_price|clp }}</strong>
      {% endif %}

      <ul>
        {% if giftcard.auto_validate %}
        <li><strong>Estás ayudando a: </strong> {{ giftcard.title }}</li>
        {% else %}
        <li><strong>Se le enviara a: </strong> {{ name_to }}</li>
        <li><strong>Al correo: </strong> {{ email_to }}</li>
        <li><strong>El día: </strong> {{ send_date }}</li>
        <li><strong>Mensaje: </strong> {{ comment }}</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="span9 stepAction">
    <form method="post" action="/psp/pay">
      {% csrf_token %}
      <input type="hidden" name="parentId" value="{{ giftcard.merchant.id }}">
      <input type="hidden" name="sendDate" value="{{ send_date }}">
      <input type="hidden" name="giftcardTo" value="{{ name_to }}">
      <input type="hidden" name="giftcardEmail" value="{{ email_to }}">
      <input type="hidden" name="giftcardComment" value="{{ comment }}">
      <input type="hidden" name="giftcardStyle" value="{{ giftcard_design }}">
      <input type="hidden" name="giftcardprice" value="{{ price }}">
      <input type="hidden" name="giftcardProductId" value="{{ giftcard.id }}">
      <input type="hidden" name="token" value="{{ token }}">
      <input type="hidden" name="trx_id" value="{{ trx_id }}">
      <input type="hidden" name="product_id" value="{{ product_id }}">
      <input type="submit" value="Pagar"  class="span2 btn primary">
    </form>

    <!--<a href="/giftcard/custom" class="span1 btn secondary">
        Modificar
        </a>-->
  </div>

</section>
<script>
  $(document).ready(function(){
  localStorage.setItem('product_id', $('[name="product_id"]').val());
  });
</script>
{% endblock %}
