{% extends "base.html" %}
{% load locale_price %}
{% block title %}{{ this_category }}{% if show_title %} | {% endif %}{% endblock %}
{% block content %}
<!-- <section class="container options">
  ordenar por: <a href="#"> precio</a> | <a href="#"> tipo</a>
</section> -->
{% if not this_campaign %}
<div id="bigSlide" class="span9">
  <div id="slidepag" class="span9"></div>
  <ul id="principalSlide">
    <li class="span9 love" style="background-image:url(https://commondatastorage.googleapis.com/site-images%2Fimages%2Fslider%2Fback_babytuto.png);">
        <a href="https://www.giviu.com/giftcard/detail/tienda-de-articulos-para-bebes" class="span9">
          <img src="https://commondatastorage.googleapis.com/site-images%2Fimages%2Fslider%2Fbaby-tuto2.png"/>
       </a>
    </li> 
    {% if user.is_authenticated %}
    <li class="span9 friend">
      <div class="container" id="friend" >
        <div id="friendTitle" class="span9">
        </div>    
        <div id="friendImages" class="span9">
        </div>
      </div>
    </li>
    {% endif %}
    <li class="span9 fuud" style="background-image:url(https://commondatastorage.googleapis.com/site-images%2Fimages%2Fslider%2Fback-fuud.png)">
        <a href="/partner/fuud" class="span9">
          <img src="https://commondatastorage.googleapis.com/site-images%2Fimages%2Fslider%2Ffuud2.png"/>
       </a>
    </li>
    <li class="span9 parapente" style="background-image:url(https://commondatastorage.googleapis.com/site-images%2Fimages%2Fslider%2Fbackparapente.png)">
        <a href="/giftcard/detail/vuelo-en-parapente-fotos-video" class="span9">
          <img src="https://commondatastorage.googleapis.com/site-images%2Fimages%2Fslider%2Fparapente.png"/>
       </a>
    </li>
  </ul>
</div>
{% endif %}

{% if this_campaign %}
<div class="container">
  <img width="100%;" src="https://commondatastorage.googleapis.com/site-images%2Fimages%2Fslider%2F{{ this_campaign.slug }}.png">
</div>
{% endif %}


<section class="container">
<!--     <div class="span2">
    <aside class="span9">
    <form class="span9 search" action="/giftcard/search" method="get">
        <input type="text" class="span6" name="s" placeholder="¿Que estas buscando?"/>
        <input type="submit" class="span3 col btn inside" value="Buscar"/>
      </form>
      <h3>Categorías</h3>
      <ul class="span9">
        {% for campaign in campaigns %}
        <li class="span9 category {% if this_campaign.name == campaign.name %}selected{% endif %}"><a data-id="{{ campaign.id }}"  href="/campaign/{{ campaign.slug }}">{{ campaign.name }} <span id="count{{ campaign.id }}" style="color: {{ campaign.color }}">{{ campaign.giftcards.all|length }}</span></a></li>
        {% endfor %}

        <li class="span9 {% if not this_category and not this_campaign %}selected{% endif %}"><a  href="/">Todos<span>{{ all_products_len }}</span></a></li>
        {% for category in categories %}
        {% if category.count > 0 %}
        <li class="span9 category {% if this_category.name == category.name %}selected{% endif %}"><a data-id="{{ category.id }}"  href="/giftcard/category/{{ category.slug }}">{{ category.name }} <span id="count{{ category.id }}">{{ category.count }}</span></a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </aside>

    <aside class="span9 promo">
      <figure>
        <a href="#">
        <img src="/static/img/campaigns/small_banner_3_lucas.png"/>
        </a>
      </figure>
    </aside>
  </div>

  <section class="special span7" id="lucas">
    <span class="icon-close close"></span>
  </section>
  -->

  <section class="span9" id="giftCardList" data-columns>
    {% for product in products %}
    <article class="giftCardModule" data-source-id="{{ product.id }}">
      <figure>
        <span class="like {% if not user.is_authenticated %}disabled{% endif %} {% if product.get_own_like %} active {% endif %}" original-title="Agregar a favoritos" data-source-id="{{ product.id }}" data-source-type="1"><span class="icon-heart"></span></span>
        <a href="/giftcard/detail/{{ product.slug }}">
          <img src="{{ product.image }}">
        </a>
      </figure>
      <a href="/giftcard/detail/{{ product.slug }}"><h2>{{ product.title }}</h2></a>
      <h4>en <a href="/partner/{{ product.merchant.slug }}">{{ product.merchant.name }}</a></h4>
      {% if product.kind == '1' %}
      <center>
        <select class="" name="webmenu"  onchange="showValue(this.value)">
          {% for price in product.get_price %}
          <option value="{{ price }}">{{ price|clp }}</option>
          {% endfor %}
        </select>
      </center>
      {% endif %}
      {% if product.kind == '0' %}
      <strong class="span9">{{ product.get_price|clp }}</strong>
      {% endif %}
      <a href="/giftcard/detail/{{ product.slug }}" class="btn primary">Regalar</a>
      <!--
      {% if product.sold_quantity < 5 %}
      <div class="quantity">
        Quedan <strong>{{ product.sold_quantity }}</strong> productos ¡Apresurate!
      </div>
      {% endif %}
      -->
      {% if product.get_friend_likes %}
      <div class="friends">
        <div class="ico">
          <span class="icon-smiley"></span>
        </div>
        {% for friend in product.get_friend_likes %}
        <figure>
          <img src="https://graph.facebook.com/{{ friend }}/picture?width=40&height=40">
        </figure>
        {% endfor %}
      </div>
      {% endif %}
    </article>
    {% endfor %}

  </section>
</section>
<a data-lightbox="campaign" href="/static/img/campaigns/modal_3_lucas.png"></a>

 <script type="text/javascript">
$(document).ready(function(){

  f = new Date();
  month = [ "january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december" ];
  getFriends(month[f.getMonth()]);

  function getFriends(month){
    $.get( "/api/social/get-close-facebook-friends/"+$("#fb-id").val()+"?month="+month)
      .done(function(data){
        $('#friendTitle').html('<h3>Tienes '+data.length+' amigos de cumpleaños este mes</h3>¿ya tienes su regalo?')
        var friends = 0;
        if(data.length==0){
          $('#friendTitle').html('<h3>¿Aun no has creado tu calendario?</h3>')
          $('#friendImages').append('<br/><span class="icon-calendar" style="font-size:100px;"></span><br><br><a href="user/calendar" class="startNow">Comienza aquí</a>');

        }else{
          $.each(data, function(key,value) {
            if(key>=5){
              return false;
            }
            var day = value.birthday.split('/');
            var day = day[1];

            var friend_birthday = '<figure class="friendBirthaySlide"><img src="https://graph.facebook.com/'+value.fbid+'/picture?width=200&amp;height=200"><figcaption><b>'+day+'</b></figcaption></figure>';
            $('#friendImages').append(friend_birthday);

          })
        }
      })
  }

});
 </script>

{% endblock %}




