{% extends "base.html" %}
{% block content %}

<section class="container steps">
  <span class="stepIndicator">
    2
  </span>
  <span class="actualStep">Seleccionar giftcard / presonalizar gitcard</span> / pagar
</section>

<section class="container custom">
  <div class="span3">
    <div class="giftcardSelected span9">
      <figure class="span3">
        <img class="span9" src="{{ giftcard.image }}">
      </figure>
      <div class="span6 col">
        <h3>{{ giftcard.title }}</h3>
        <strong id="price"></strong>
      </div>
    </div>
    <form class="span9" method="post" action="/giftcard/checkout" id="customForm">
      {% csrf_token %}
      <label class="span9">
        ¿A quien le enviaras esta giftcard?
      </label>
      <input type="text" class="span9 nameTo required" name="name-to">
      <label class="span9">
        ¿Cual es el correo electronico de <strong class="name_to">Juan</strong>?
      </label>
      <input type="text" class="span9 required email" name="email-to">
      <label class="span9">
        ¿En que fecha quieres enviarla?
      </label>
      <input type="text" class="span9 required" name="send-when" id="datepicker" value="{% now "SHORT_DATE_FORMAT" %}" name="send-date">
      <label class="span9">
        ¿Quieres agregarle un mensaje?
      </label>
      <textarea class="span9 required" name="comment" placeholder="Ej: Te deseo un muy feliz cumpleaños!"></textarea>
      <input type="hidden" value="{{ giftcard.id }}" name="giftcard-id">
      <input type="hidden" value="{{ giftcard.merchant.id }}" name="product-merchant-id">
      <input type="hidden" value="1" name="giftcard-design">
      <input type="hidden" value="" name="giftcard-price"/>
    </form>
  </div>
  <div class="span6 col">
    <div class="selectGiftcardDesign span9">
      <span class="icon-arrow-left control" id="prev"></span>
      <ul class="span9 giftcardsDesign">
        {% for style in styles %}
        <li id="{{ style.id }}">
          <figure>
            <img src="/static/img/giftcards/{{ style.image }}">
          </figure>
        </li>
        {% endfor %}

      </ul>
      <span class="icon-arrow-right control" id="next"></span>
    </div>
    <div class="thumbnails" id="pag"></div>

    <div class="span9 stepAction">
      <a href="/giftcard/checkout" id="custom" class="span3 btn primary">
        Continuar
      </a>
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){

  $('#customForm').validate();

  var giftcard_price = localStorage.getItem('giftcard_price');
  var giftcard_id = localStorage.getItem('giftcard_id');

  $('#price').html("$"+giftcard_price);
  $('[name="giftcard-price"]').val(giftcard_price)

  $('.nameTo').keyup(function(){
    $('.name_to').html($(this).val());
  });

  $('#custom').click(function(e){
  e.preventDefault();
  $('#customForm').submit();
  });

  $( "#datepicker" ).datepicker({
    showOtherMonths: true,
    selectOtherMonths: true,
    monthNamesShort: [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ],
    dayNamesMin:["Lu","Ma","Mi","Ju","Vi","Sa","Do"],
    monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
    dateFormat: "yy-mm-d",
    defaultDate: -1,
    autoSize: true,
    maxDate: "+1m",
    minDate: "0"
  });

  });
</script>

{% endblock %}
