{% extends "base.html" %}
{% load locale_price %}
{% block content %}
<section class="container steps">
  <span class="stepIndicator">
    1
  </span>
  <span class="actualStep">Seleccionar giftcard</span> / presonalizar gitcard / pagar
</section>

<section class="container detail">

  <div class="span5 giftcardImage">
    <figure class="span9">
      <span class="like big tooltipInfo {% if not is_logged_in %}disabled{% endif %}"  data-source-id="{{ product.id }}" data-source-type="1"><span class="icon-heart"></span></span>
      <img class="span9" src="{{ product.image }}">
    </figure>
  </div>
  <div class="span4 col actions">
    <h2>{{ product.title }}</h2>
    <div class="span9 col likescount">
      {% if likes > 0 %}
      <span class="icon-heart icolike"></span> A {{ likes }} le gusta este regalo <span class="amigos">
        {% for friend in friends %}
        <a href="/user/preferences/{{ friend.user_friend_fb_id }}"><img src="https://graph.facebook.com/{{ friend.user_friend_fb_id }}/picture?width=20&height=20"></a>
        {% endfor %}

      </span>
      {% endif %}
    </div>
    <p class="span9">{{ product.description }}</p>
    <div class="span9 value">
      <div class="span6">
        {% if product.kind == '1' %}
        Selecciona el valor de la giftcard
        {% else %}
        Valor giftcard
        {% endif %}
      </div>
      <form id="form">
        <div class="span3">
          {% if product.kind == '1' %}
          <select class="span9 select" name="product-price">
            {% for price in product.price %}
            <option value="{{ price }}">{{ price|clp }}</option>
            {% endfor %}
          </select>

          {% else %}
          <strong class="span9 productPrice">{{ product.price|clp }}</strong>
          <input type="hidden" name="product-price" value="{{ product.price }}"/>
          {% endif %}
        </div>
        <input type="hidden" name="product-id" value="{{ product.id }}"/>
      </form>
    </div>

    <div class="span9 stepAction">
      <a href="/giftcard/custom/{{ product.id }}" class="span3 btn primary continue">
        Continuar
      </a>
    </div>
    <div class="span9 finePrint">
      <div class="span9 head"><span class="icon-menu"></span> Detalle</div>
      {{ product.fine_print|safe }}
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
  $('.continue').click(function(e){
  e.preventDefault();
  var url = $(this).attr('href');
  localStorage['product-info'] = $('form').serialize();
  location.href=url;

  })
  });
</script>
{% endblock %}
