{% extends "base.html" %}
{% load locale_price %}
{% block title %}{{ this_category }}{% if show_title %} | {% endif %}{% endblock %}
{% block content %}
<section class="container options">
<!--   <div class="span7 description">
    ¡Busca, personaliza y regala giftcards a quien quieras!
  </div> -->
  <div class="span7 description">
    <figure class="avatarHeader"><img src="https://graph.facebook.com/729998412/picture?width=40&amp;height=40"></figure>
    <span class="name">Sebatian</span> está de cumpleaños hoy, te recomendamos el mejor regálo.
  </div>
  <form action="/" action="get" class="span2">
    <input type="text" placeholder="mujer, bebe, providencia" name="q"/><submit class="btn secondary"><span class="icon-search"></span></submit>
  </form>
</section>
<!-- {% if not this_campaign and not search %}
<div id="bigSlide" class="span9">
  <div id="slidepag" class="span9"></div>
  <ul id="principalSlide">
    <li class="span9 love" style="background-image:url(https://commondatastorage.googleapis.com/site-images%2Fimages%2Fslider%2Fback_babytuto.png);">
        <a href="https://www.giviu.com/giftcard/detail/tienda-de-articulos-para-bebes" class="span9">
          <img src="https://commondatastorage.googleapis.com/site-images%2Fimages%2Fslider%2Fbaby-tuto2.png"/>
       </a>
    </li> 
    {% if user.is_authenticated %}
    <li class="span9 friend">
      <div class="container" id="friend" >
        <div id="friendTitle" class="span9">
        </div>
        <div id="friendImages" class="span9">
        </div>
      </div>
    </li>
    {% endif %}
    <li class="span9 parapente" style="background-image:url(https://storage.googleapis.com/site-images/campaigns/back-portaldisc.png)">
        <a href="/giftcard/detail/regala-musica" class="span9">
          <img src="https://storage.googleapis.com/site-images/campaigns/banner-portaldisc.png"/>
       </a>
    </li>
    <li class="span9 parapente" style="background-image:url(https://commondatastorage.googleapis.com/site-images%2Fimages%2Fslider%2Fbackparapente.png)">
        <a href="/giftcard/detail/vuelo-en-parapente-fotos-video" class="span9">
          <img src="https://commondatastorage.googleapis.com/site-images%2Fimages%2Fslider%2Fparapente.png"/>
       </a>
    </li>
  </ul>
</div>
{% endif %} -->

{% if this_campaign %}
<div class="container">
  <img width="100%;" src="https://commondatastorage.googleapis.com/site-images%2Fimages%2Fslider%2F{{ this_campaign.slug }}.png">
</div>
{% endif %}


<section class="container">
<!--     <div class="span2">
    <aside class="span9">
    <form class="span9 search" action="/giftcard/search" method="get">
        <input type="text" class="span6" name="s" placeholder="¿Que estas buscando?"/>
        <input type="submit" class="span3 col btn inside" value="Buscar"/>
      </form>
      <h3>Categorías</h3>
      <ul class="span9">
        {% for campaign in campaigns %}
        <li class="span9 category {% if this_campaign.name == campaign.name %}selected{% endif %}"><a data-id="{{ campaign.id }}"  href="/campaign/{{ campaign.slug }}">{{ campaign.name }} <span id="count{{ campaign.id }}" style="color: {{ campaign.color }}">{{ campaign.giftcards.all|length }}</span></a></li>
        {% endfor %}

        <li class="span9 {% if not this_category and not this_campaign %}selected{% endif %}"><a  href="/">Todos<span>{{ all_products_len }}</span></a></li>
        {% for category in categories %}
        {% if category.count > 0 %}
        <li class="span9 category {% if this_category.name == category.name %}selected{% endif %}"><a data-id="{{ category.id }}"  href="/giftcard/category/{{ category.slug }}">{{ category.name }} <span id="count{{ category.id }}">{{ category.count }}</span></a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </aside>

    <aside class="span9 promo">
      <figure>
        <a href="#">
        <img src="/static/img/campaigns/small_banner_3_lucas.png"/>
        </a>
      </figure>
    </aside>
  </div>

  <section class="special span7" id="lucas">
    <span class="icon-close close"></span>
  </section>
  -->
    {% if not products %}
      {% if search %}
        <center>
          <span class="icon-sad"></span> No se encontraron productos para la búsqueda <strong>"{{ search_term }}"</strong>, intentalo nuevamente.
          </br>
          <form action="/" method="GET" class="span9">
            <input type="text" placeholder="Ingresa tu búsqueda" name="q" style="margin-top:30px;"/>
            <input type="submit" value="Buscar" class="btn primary" style="padding:9px 5px;font-size:0.8em">
          </form>
        </center>

      {% else %}
        <h1>Por otro motivo no hay productos.</h1>
      {% endif %}
    {% endif %}
  <section class="span9" id="giftCardList" >

    <article class="giftCardModule new" data-source-id="51">
      <figure>
        <span class="like disabled " original-title="Agregar a favoritos" data-source-id="51" data-source-type="1"><span class="icon-heart"></span></span>
        <a href="/giftcard/detail/tienda-eglu">
          <img src="https://commondatastorage.googleapis.com/site-images%2Fgiftcards%2Feglu%2Fmontos.png">
        </a>
      </figure>
      <div class="baseContent span9">
        <a href="/giftcard/detail/tienda-eglu"><h2>Tienda E-glú</h2></a>
        <h4>en <a href="/partner/eglu">E-glú</a></h4>
        <center>
          <select class="" name="webmenu" onchange="showValue(this.value)">
            <option value="5000">$ 5.000</option>
            <option value="8000">$ 8.000</option>
            <option value="10000">$ 10.000</option>
          </select>
        </center>
        <a href="/giftcard/detail/tienda-eglu" class="btn primary">Regalar</a>
      </div>
    </article>

    {% for product in products %}
    <article class="giftCardModule new" data-source-id="{{ product.id }}">
      <figure>
        <span class="like {% if not user.is_authenticated %}disabled{% endif %} {% if product.get_own_like %} active {% endif %}" original-title="Agregar a favoritos" data-source-id="{{ product.id }}" data-source-type="1"><span class="icon-heart"></span></span>
        <a href="/giftcard/detail/{{ product.slug }}">
          <img src="{{ product.image }}">
        </a>
      </figure>
      <div class="baseContent span9">
        <a href="/giftcard/detail/{{ product.slug }}"><h2>{{ product.title|truncatewords:7 }}</h2></a>
        <h4>en <a href="/partner/{{ product.merchant.slug }}">{{ product.merchant.name }}</a></h4>
        {% if product.kind == '1' %}
        <center>
          <select class="" name="webmenu"  onchange="showValue(this.value)">
            {% for price in product.get_price %}
            <option value="{{ price }}">{{ price|clp }}</option>
            {% endfor %}
          </select>
        </center>
        {% endif %}
        {% if product.kind == '0' %}
        <strong class="span9">{{ product.get_price|clp }}</strong>
        {% endif %}
        <a href="/giftcard/detail/{{ product.slug }}" class="btn primary">Regalar</a>
        <!--
        {% if product.sold_quantity < 5 %}
        <div class="quantity">
          Quedan <strong>{{ product.sold_quantity }}</strong> productos ¡Apresurate!
        </div>
        {% endif %}
        -->
        <div class="moduleDescription">
          <p>
            {{ product.description|truncatewords:25 }}
          </p>
        </div>
        {% if product.get_friend_likes %}
        <div class="friends">
          <div class="ico">
            <span class="icon-smiley"></span>
          </div>
          {% for friend in product.get_friend_likes %}
          <figure>
            <img src="https://graph.facebook.com/{{ friend }}/picture?width=40&height=40">
          </figure>
          {% endfor %}
        </div>
      {% endif %}
      </div>

    </article>
    {% endfor %}

  </section>
 </section>
 <script type="text/javascript">
$(document).ready(function(){

  f = new Date();
  month = [ "january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december" ];
  getFriends(month[f.getMonth()]);

  function getFriends(month){
    $.get( "/api/social/get-close-facebook-friends/"+$("#fb-id").val()+"?month="+month)
      .done(function(data){
        $('#friendTitle').html('<h3>Tienes '+data.length+' amigos de cumpleaños este mes</h3>¿ya tienes su regalo?')
        var friends = 0;
        if(data.length==0){
          $('#friendTitle').html('<h3>¿Aun no has creado tu calendario?</h3>')
          $('#friendImages').append('<br/><span class="icon-calendar" style="font-size:100px;"></span><br><br><a href="user/calendar" class="startNow">Comienza aquí</a>');

        }else{
          $.each(data, function(key,value) {
            if(key>=5){
              return false;
            }
            var day = value.birthday.split('/');
            var day = day[1];

            var friend_birthday = '<figure class="friendBirthaySlide"><img src="https://graph.facebook.com/'+value.fbid+'/picture?width=200&amp;height=200"><figcaption><b>'+day+'</b></figcaption></figure>';
            $('#friendImages').append(friend_birthday);

          })
        }
      })
  }

});
 </script>

{% endblock %}
