{% extends "base.html" %}
{% block content %}

<section class="container steps">
  <span class="stepIndicator">
    2
  </span>
  <span class="actualStep">Seleccionar giftcard / personalizar giftcard</span> / pagar
</section>

<section class="container custom">
  <div class="span3">
    <div class="giftcardSelected span9">
      <figure class="span3">
        <img class="span9" src="{{ giftcard.image }}">
      </figure>
      <div class="span6 col">
        <h3>{{ giftcard.title }}</h3>
        <strong id="price"></strong>
      </div>
    </div>
    <form class="span9" method="post" action="/giftcard/checkout" id="customForm">
      {% csrf_token %}
      <label class="span9">
        ¿Cual es el nombre de quien recibirá esta giftcard?
      </label>
      <input type="text" class="span9 nameTo required" name="name-to">
      <label class="span9">
        ¿Cual es el correo electrónico  <span class="name_to"></span>?
      </label>
      <input type="text" class="span9 required email" name="email-to">
      <label class="span9">
        ¿En que fecha quieres enviarla?
      </label>
      <input type="text" class="span9 required" id="datepicker" value="">
      <input type="hidden" name="send-when" id="hidden-date" value="" >
      <label class="span9">
        ¿Quieres agregarle un mensaje?
      </label>
      <textarea class="span9 required" name="comment" placeholder="Ej: Te deseo un muy feliz cumpleaños!"></textarea>
      <input type="hidden" value="{{ giftcard.id }}" name="giftcard-id">
      <input type="hidden" value="{{ giftcard.merchant.id }}" name="product-merchant-id">
      <input type="hidden" value="1" name="giftcard-design">
      <input type="hidden" value="" name="giftcard-price"/>
    </form>
  </div>
  <div class="span6 col">
    <div class="selectGiftcardDesign span9">
      <span class="icon-arrow-left control" id="prev"></span>
      <ul class="span9 giftcardsDesign">
        {% for style in styles %}
        <li id="{{ style.id }}">
          <figure>
            <img src="{{ style.image }}">
          </figure>
        </li>
        {% endfor %}

      </ul>
      <span class="icon-arrow-right control" id="next"></span>
    </div>
    <div class="thumbnails" id="pag"></div>

    <div class="span9 stepAction">
      <a href="/giftcard/checkout" id="custom" class="span3 btn primary">
        Continuar
      </a>
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){

  $('#customForm').validate();

  var giftcard_price = localStorage.getItem('giftcard_price');
  var giftcard_id = localStorage.getItem('giftcard_id');

  $('#price').html('$'+moneyFormat(giftcard_price));
  $('[name="giftcard-price"]').val(giftcard_price)

  $('.nameTo').keyup(function(){
    $('.name_to').html('de <strong class="name_to">'+$(this).val()+'</strong>');
  });

  $('#custom').click(function(e){
  e.preventDefault();
  $('#customForm').submit();
  });

  $( "#datepicker" ).datepicker({
    showOtherMonths: true,
    selectOtherMonths: true,
    monthNamesShort: [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ],
    dayNamesMin:["Do","Lu","Ma","Mi","Ju","Vi","Sa"],
    monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
    dateFormat: "yy-m-d",
    defaultDate: -1,
    autoSize: true,
    maxDate: "+1m",
    minDate: "0",
    onSelect: function(e) {

        var month = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
        var terms = ['Hoy','Mañana','Pasado mañana']
        var special_dates = ['2014-2-14','Mañana','Pasado mañana']
        var special_msg = ['El día de los enamorados','Mañana','Pasado mañana']
        var picker_date = e;
        var new_format_date = e.split('-');
        var new_format_date =new_format_date[2]+' de '+month[new_format_date[1]-1]
        var d = new Date(); 
        var fechaInicio= new Date(picker_date);
        var hoy= new Date(d.getFullYear()+ "-" + (d.getMonth() + 1 ) + "-" + d.getDate());            
        var fechaResta= fechaInicio-hoy;
        fechaResta=(((fechaResta/1000)/60)/60)/24;   
        fechaResta = parseInt(fechaResta);        

        if(fechaResta<=2) {
          $('#datepicker').val(terms[fechaResta]);
        }else if(fechaResta<=5){
          $('#datepicker').val('En '+fechaResta+' días');
        }else{
           $('#datepicker').val(new_format_date);
        }
        var special_date_review = $.inArray(e,special_dates)
        if(special_date_review!=-1){
          $('#datepicker').val(special_msg[special_date_review]);
        }
        $('#hidden-date').val(e);
    }
  });

  });
</script>

{% endblock %}
