{% extends "base.html" %}
{% load locale_price %}
{% block title %}{{ this_category }}{% if show_title %} | {% endif %}{% endblock %}
{% block content %}
<section class="container options">
  <div class="span7 description">
    <span class="text"></span>
  </div>
  <form action="/" action="get" class="span2" id="search">
    <input type="text" placeholder="mujer, bebe, providencia" name="q"/><submit class="btn secondary"><span class="icon-search"></span></submit>
  </form>
</section>

{% if this_campaign %}
<div class="container">
  <img width="100%;" src="https://commondatastorage.googleapis.com/site-images%2Fimages%2Fslider%2F{{ this_campaign.slug }}.png">
</div>
{% endif %}

<section class="container">
<!--     <div class="span2">
    <aside class="span9">
    <form class="span9 search" action="/giftcard/search" method="get">
        <input type="text" class="span6" name="s" placeholder="¿Que estas buscando?"/>
        <input type="submit" class="span3 col btn inside" value="Buscar"/>
      </form>
      <h3>Categorías</h3>
      <ul class="span9">
        {% for campaign in campaigns %}
        <li class="span9 category {% if this_campaign.name == campaign.name %}selected{% endif %}"><a data-id="{{ campaign.id }}"  href="/campaign/{{ campaign.slug }}">{{ campaign.name }} <span id="count{{ campaign.id }}" style="color: {{ campaign.color }}">{{ campaign.giftcards.all|length }}</span></a></li>
        {% endfor %}

        <li class="span9 {% if not this_category and not this_campaign %}selected{% endif %}"><a  href="/">Todos<span>{{ all_products_len }}</span></a></li>
        {% for category in categories %}
        {% if category.count > 0 %}
        <li class="span9 category {% if this_category.name == category.name %}selected{% endif %}"><a data-id="{{ category.id }}"  href="/giftcard/category/{{ category.slug }}">{{ category.name }} <span id="count{{ category.id }}">{{ category.count }}</span></a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </aside>

    <aside class="span9 promo">
      <figure>
        <a href="#">
        <img src="/static/img/campaigns/small_banner_3_lucas.png"/>
        </a>
      </figure>
    </aside>
  </div>

  <section class="special span7" id="lucas">
    <span class="icon-close close"></span>
  </section>
  -->
    {% if not products %}
      {% if search %}
        <center>
          <span class="icon-sad"></span> No se encontraron productos para la búsqueda <strong>"{{ search_term }}"</strong>, intentalo nuevamente.
          </br>
          <form action="/" method="GET" class="span9">
            <input type="text" placeholder="Ingresa tu búsqueda" name="q" style="margin-top:30px;"/>
            <input type="submit" value="Buscar" class="btn primary" style="padding:9px 5px;font-size:0.8em">
          </form>
        </center>

      {% else %}
        <h1>Por otro motivo no hay productos.</h1>
      {% endif %}
    {% endif %}
  <section class="span9" id="giftCardList" >

    {% for product in products %}
    <article class="giftCardModule new" data-source-id="{{ product.id }}">
      <figure class="giftcard">
        <span class="like {% if not user.is_authenticated %}disabled{% endif %} {% if product.get_own_like %} active {% endif %}" original-title="Agregar a favoritos" data-source-id="{{ product.id }}" data-source-type="1"><span class="icon-heart"></span></span>
        <a href="/giftcard/detail/{{ product.slug }}">
          <img src="{{ product.image }}">
        </a>
      </figure>
      <div class="baseContent span9">
        <a href="/giftcard/detail/{{ product.slug }}"><h2>{{ product.title|truncatewords:7 }}</h2></a>
        <h4>en <a href="/partner/{{ product.merchant.slug }}">{{ product.merchant.name }}</a></h4>
        <div class="newAction">
          {% if product.kind == '1' %}
            <select class="span5" name="webmenu"  onchange="showValue(this.value)">
              {% for price in product.get_price %}
              <option value="{{ price }}">{{ price|clp }}</option>
              {% endfor %}
            </select>
          {% endif %}
          {% if product.kind == '0' %}
          <strong class="span5 price">{{ product.get_price|clp }}</strong>
          {% endif %}
          <a href="/giftcard/detail/{{ product.slug }}" class="btn primary more-detail-buy">Regalar</a>
          <div class="validation-type span9">
            {% if product.get_friend_likes %}
            <span class="friend-count" data-source-id="{{ product.id }}" >amigos desean esto</span> |
            {% endif %}
            <!-- Valido en <span class="icon-shop"></span> <span class="icon-laptop"></span> |  --><span class="like {% if not user.is_authenticated %}disabled{% endif %} " data-source-id="{{ product.id }}" data-source-type="1">Agregar a favoritos</span>
          </div>
        </div>
        <!--
        {% if product.sold_quantity < 5 %}
        <div class="quantity">
          Quedan <strong>{{ product.sold_quantity }}</strong> productos ¡Apresurate!
        </div>
        {% endif %}
        -->
        {% if product.get_friend_likes %}
        <div class="moduleDescription" data-source-id="{{ product.id }}" >
          <div class="friends-like">
            {% for friend in product.get_friend_likes %}
              <figure class="friend-like">
                <img src="https://graph.facebook.com/{{ friend }}/picture?width=40&height=40">
              </figure>   
            {% endfor %}

          </div>
        </div>
        {% endif %}
      </div>

    </article>
    {% endfor %}

  </section>
 </section>
 <script type="text/javascript">
$(document).ready(function(){

  f = new Date();
  month = [ "january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december" ];
  getFriends(month[f.getMonth()]);

  function getFriends(month){
    $.get( "/api/social/get-close-facebook-friends/"+$("#fb-id").val()+"?month="+month)
      .done(function(data){
        var friends = 0;
        if(data.length==0 || data==""){
          $('.description .text').html('¡Busca, personaliza y regala giftcards a quien quieras!');

        }else{
          $.each(data, function(key,value) {
            if(key>=3){
              return false;
            }
            var day = value.birthday.split('/');
            var day = day[1];
            var f = new Date();
            if(f.getDate() == day){
              $('.description').append('<figure class="avatarHeader"><img src="https://graph.facebook.com/'+value.fbid+'/picture?width=60&amp;height=60"></figure>');
              $('.description .text').html('<span>'+value.first_name+',</span> Está de cumpleaños hoy');
              $('.description').addClass('small')
              return false;
            }else{
              var friend_birthday = '<figure class="avatarHeader"><img src="https://graph.facebook.com/'+value.fbid+'/picture?width=60&amp;height=60"></figure>';
              $('.description').append(friend_birthday);
              $('.description .text').html('<span>Están de cumpleaños este mes</span> encuentra los mejores regalos');
              $('.description').addClass('small');

            }

          })
        }
      })
  }

});
</script>
{% endblock %}
