{% extends "base.html" %}
{% load locale_price %}
{% block title %}{{ giftcard.title }} | {% endblock %}
{% block meta %}
    <meta property="og:image" content="{{ giftcard.image }}"/>
    <meta property="og:title" content="{{ giftcard.title }}" />
    <meta property="og:description" content="{{ giftcard.description|safe }}" />
    <meta property="og:url" content="https://www.giviu.com/giftcard/detail/{{ giftcard.slug }}" />
{% endblock %}
{% block content %}
<section class="container steps">
  <span class="stepIndicator">
    1
  </span>
  <span class="actualStep">Seleccionar giftcard</span> / personalizar giftcard / pagar
</section>

<section class="container detail">

  <div class="span5 giftcardImage">
    <figure class="span9">
      <span class="like big tooltipInfo {% if not user.is_authenticated %}disabled{% endif %} {% if user_like %}active{% endif %}"  data-source-id="{{ giftcard.id }}" data-source-type="1"><span class="icon-heart"></span></span>
      <ul id="slideDetail" class="span9 col" style="height:200px!important;">
        <li style="float:left;">
          <img class="span9" src="{{ giftcard.image }}"/>
        </li>
      {% if giftcard.media_images %}
        {% for image in giftcard.media_images %}
        <li style="float:left;">
          <img class="span9" src="{{image}}"/>
        </li>
        {% endfor %}
      {% endif %}
      </ul>
    </figure>
    <section class="span9 merchantInfo">
      <figure>
        <img class="span9" src="{{ giftcard.merchant.logo }}">
      </figure>
      <strong>{{ giftcard.merchant }}</strong><br/>
      <small><a  href="http://{{ giftcard.merchant.website }}" target="_blank">sitio web</a> | {% if giftcard.merchant.address != "" %}<a data-lightbox="address" href="https://maps.googleapis.com/maps/api/staticmap?center={{ giftcard.merchant.address }}&zoom=16&size=600x300&maptype=roadmap&markers=color:purple%7Clabel:!%7C{{ giftcard.merchant.address }}&sensor=false&scale=0">dirección</a> |{% endif %} <a href="/partner/{{ giftcard.merchant.slug }}">ver todos los productos</a></small>
    </section>
  </div>
  <div class="span4 col actions">
    <h2>{{ giftcard.title }}</h2>
    <div class="span9 col likescount">
      {% if likes > 0 %}
      <span class="icon-heart icolike"></span> A {{ likes }} le gusta este regalo <span class="amigos">
        {% for friend in friends %}
        <a href="/user/preferences/{{ friend.user_friend_fb_id }}"><img src="https://graph.facebook.com/{{ friend.user_friend_fb_id }}/picture?width=20&height=20"></a>
        {% endfor %}
      </span>
      {% endif %}
      comparte:
        <a class="social facebook share" href="http://www.facebook.com/sharer.php?u=">
          <span class="icon-facebook"></span>
        </a>
        <a class="social twitter share" href="https://twitter.com/intent/tweet?text={{ giftcard.title }}&via=giviuchile&url=" >
          <span class="icon-twitter"></span>
        </a>
        <a class="social google share" href="https://plus.google.com/share?url=">
          <span class="icon-google-plus"></span>
        </a>
    </div>
    <p class="span9">{{ giftcard.description|safe }}</p>
    {% if giftcard.auto_validate %}
    <div class="span9 value">
      <div class="span6">
        {% if giftcard.kind == '1' %}
        Selecciona el valor de la giftcard
        {% else %}
        Valor giftcard
        {% endif %}
      </div>
      <form method="post" action="/giftcard/checkout">
      {% csrf_token %}
        <div class="span3">
          {% if giftcard.kind == '1' %}
          <select class="span9 select" name="giftcard-price">
            {% for price in giftcard.get_price %}
            <option value="{{ price }}">{{ price|clp }}</option>
            {% endfor %}
          </select>
          {% else %}
          <strong class="span9 productPrice">{{ giftcard.get_price|clp }}</strong>
          <input type="hidden" value="{{ giftcard.price }}" name="giftcard-price">
          {% endif %}
          <input type="hidden" value="{{ giftcard.id }}" name="giftcard-id">
          <input type="hidden" value="{{ giftcard.merchant.id }}" name="product-merchant-id">
          <input type="hidden" value="on" name="auto-validate">
        </div>
        <div class="span9 stepAction">
          <input type="submit" class="span3 btn primary continue" value="Continuar!!"/>
        </div>
      </form>
    </div>
    {% else %}
    <div class="span9 value">
      <div class="span6">
        {% if giftcard.kind == '1' %}
        Selecciona el valor de la giftcard
        {% else %}
        Valor giftcard
        {% endif %}
      </div>
      <form id="form">
        <div class="span3">
          {% if giftcard.kind == '1' %}
          <select class="span9 select" name="giftcard-price">
            {% for price in giftcard.get_price %}
            <option value="{{ price }}">{{ price|clp }}</option>
            {% endfor %}
          </select>
          {% else %}
          <strong class="span9 productPrice">{{ giftcard.get_price|clp }}</strong>
          <input type="hidden" name="giftcard-price" value="{{ giftcard.price }}"/>
          {% endif %}
        </div>
        <input type="hidden" name="giftcard-id" value="{{ giftcard.id }}"/>
      </form>
    </div>

    <div class="span9 stepAction">
      <a href="/giftcard/custom/{{ giftcard.slug }}" class="span3 btn primary continue">
        Continuar
      </a>
    </div>
    {% endif %} <!-- auto-validate -->
    <div class="span9 finePrint">
      <div class="span9 head"><span class="icon-menu"></span> Detalle</div>
      {{ giftcard.pretty_fine_print|safe }}
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
  $('.continue').click(function(e){
  localStorage.setItem('giftcard_price', $('[name="giftcard-price"]').val());
  localStorage.setItem('giftcard_id', $('[name="giftcard-id"]').val());
  })
  });
</Script>
{% endblock %}
