{% extends "base.html" %}
{% block content %}
<section class="container options">
  <h1 class="span7">{{ title }}</h1>

  <span class="span2 col">ordenar por: <a href="#"> precio</a> | <a href="#"> tipo</a> </span>
</section>
<section class="container">

  <aside class="span3">
    <form class="span9 search" action="/giftcard/search" method="get">
      <input type="text" class="span6" name="s" placeholder="¿Que estas buscando?"/>
      <input type="submit" class="span3 col btn inside" value="Buscar"/>
    </form>
    <h3>Categorías</h3>
    <ul class="span9 categories">
      <li class="span9"><a  href="/">Todos <span>{{ products_all|length }}</span></a></li>
      {% for category in categories %}
      <li class="span9 category {% if category.slug == slug %}selected{% endif %}"><a data-id="{{ category.giftcardcategory.id }}"  href="/giftcard/category/{{ category.slug}}">{{ category.name }} <span id="count{{ category.id }}">{% if category.slug == slug %}{{ products|length }}{% endif %}</span></a></li>
      {% endfor %}
    </ul>
  </aside>
  <section class="span6" id="giftCardList" data-columns>
    {% for product in products %}
    <article class="giftCardModule" data-source-id="{{ product.id }}">
      <figure>
        <span class="like {% if not is_logged_id %}disabled{% endif%}" data-source-id="{{ product.id }}" data-source-type="1"><span class="icon-heart"></span></span>
        <img src="{{ product.image }}">
      </figure>
      <h2>{{ product.title }}</h2>
      <h4><a href="/partner/name/{{ product.merchant_id }}">{{ product.merchant_name }}</a></h4>
      {% if product.type_ == '1' %}
      <select class="span7 select" name="webmenu"  onchange="showValue(this.value)">
        {% for price in product.get_price() %}
        <option value="{{ price }}">$ {{ price }}</option>
        {% endfor %}
      </select>
      {% endif %}
      {% if product.type_ == '0' %}
      <strong class="span9">$ {{ product.get_price() }}</strong>
      {% endif %}
      <a href="/giftcard/detail/{{ product.product_id }}" class="btn primary">Regalar</a>
    </article>
    {% endfor %}

  </section>

</section>

<script>
  $(document).ready(function(){
  $('.category').each(function(){
  var anchor      = $('a',this)
  var categoryId = anchor.attr('data-id');
  var url = '/giftcard/byCategory';
  $.get(url, { u: categoryId } )
  .done(function( data ) {
  $('#count'+categoryId).html(data);
  });
  });
  });
</script>

{% endblock %}
