{% extends "base.html" %}
{% block content %}
<section class="container statics faq">
	<h1>Giviu en la prensa</h1><br/>
	<div class="span9" style="margon-bottom:5px; padding:6px; border-bottom:1px dotted #ccc;">
		<img class="span1" src="http://www.todostartups.com/images/cuentas_a_seguir/ZappingLatam_Emprendedor.png">
		<p class="span8 col">
		<strong>GIVIU UNA FORMA DISTINTA DE HACER REGALOS: </strong>
			Giviu, es una plataforma online para comprar giftcards de distintas tiendas en donde los usuarios pueden buscar, seleccionar y enviar giftcards digitales a quien quieran.... (<a href="http://www.zappinglatam.com/giviu-una-forma-distinta-de-hacer-regalos-2/" target="blank_">continuar leyendo</a>)
		</p>
	</div>		
	<div class="span9" style="margon-bottom:5px; padding:6px; border-bottom:1px dotted #ccc;">
		<img class="span1" src="https://pbs.twimg.com/profile_images/420220581338836993/k0oRhkaf.jpeg">
		<p class="span8 col">
		<strong>GIVIU: EMPRENDIMIENTO QUE BUSCA UNA NUEVA EXPERIENCIA DE REGALAR: </strong>
			El sitio web de estos chilenos busca personalizar las gift-card y entregarles un valor agregado escribiendo dedicatorias y modificando el diseño... (<a href="http://www.lanacion.cl/noticias/tecnologia/productos/giviu-emprendimiento-que-busca-una-nueva-experiencia-de-regalar/2014-02-12/225529.html" target="blank_">continuar leyendo</a>)
		</p>
	</div>	
	<div class="span9" style="margon-bottom:5px; padding:6px; border-bottom:1px dotted #ccc;">
		<img class="span1" src="https://pbs.twimg.com/profile_images/3162204575/dcc4a11005c63afd9f708e6b5b9bd87b.png">
		<p class="span8 col">
		<strong>Giviu: la nueva plataforma de giftcards online: </strong>
			Sebastián Durán y Cristina Aravena, fundadores de Giviu,  se cuestionaron el poco uso que se les daban a las giftcards en las tiendas y decidieron crear Giviu... (<a href="http://asech.cl/giviu-la-nueva-plataforma-de-giftcards-online/" target="blank_">continuar leyendo</a>)
		</p>
	</div>	
	<div class="span9" style="margon-bottom:5px; padding:6px; border-bottom:1px dotted #ccc;">
		<img class="span1" src="https://pbs.twimg.com/profile_images/1274098009/pulsosocial_twitter_avvy.jpg">
		<p class="span8 col">
		<strong>Giviu, la plataforma para encontrar, personalizar y enviar giftcards: </strong>
			Dos emprendedores pensaron que las tiendas usan muy poco las giftcards y decidieron hacer algo al respecto. Así nació Giviu, la plataforma para regalar productos y experiencias por internet... (<a href="http://pulsosocial.com/2014/02/05/giviu-la-plataforma-para-encontrar-personalizar-y-enviar-giftcards/" target="blank_">continuar leyendo</a>)
		</p>
	</div>

</section>
{% endblock %}