{% extends "base.html" %}
{% block content %}
<!-- Obtener un mensaje pasado como parametro -->
{% if message %}
<section class="span9 msg {{ message.type }}">
  <span class="icon-<?echo $_GET['icon'];?>"></span> {{ message }}
</section>
{% endif %}
<!-- -->

<section class="container register">
  <section class="login">
    <!--<center><a href="#" class="btn facebook span9"><span class="icon-facebook"></span> login con facebook</a></center>-->
    <form class="span9" method="post" action="/login" id="loginForm">
      {% csrf_token %}
      <label class="span9">Tu correo electrónico</label>
      <input type="text" class="span9 required" name="username"/>
      <label class="span9">Contraseña</label>
      <input type="password" class="span9 required" name="pass"/>
      <div class="span9">
        <center>
          <input type="submit" class="btn primary span9" value="login"/>
          <div class="span9 rememberPass">
            <a href="/user/recovery" class="rememberPass">¿has olvidado tu contraseña?</a> - <a href="/user/register" class="rememberPass">¿aun no estas registrado?</a>
          </div>
        </center>
      </div>
    </form>
  </section>
</section>

<script>
  $(document).ready(function(){
  $('#loginForm').validate();

  });
</script>
{% endblock %}
