{% extends "base.html" %}
{% block content %}
<section class="container statics">
	<h1>¿Como funciona?</h1>

	<div class="span9 simpleStep">
		<div class="span3">
			<center>
				<span class="icon-search"></span><br>
				<h3>Elige</h3>
			</center>
			<p>Busca dentro de <strong>Giviu</strong> experiencias o giftcard para tiendas de todo tipo.</p>
		</div>	
		<div class="span3 col">
			<center>
				<span class="icon-pencil"></span><br>
				<h3>Personaliza</h3>
			</center>
			<p>En <strong>Giviu</strong> podras encontrar una variedad de diseños para cada ocasion.</p>
		</div>	
		<div class="span3 col">
			<center>
				<span class="icon-paperplane"></span><br>
				<h3>Envia</h3>
			</center>
			<p>Envia a quien quieras el día que quieras para que otros dizfruten de <strong>Giviu</strong></p>
		</div>
	</div>
	<div class="span9">
		<p>Si tienes alguna duda al respecto de nuestro funcionamiento, no dudes en <a href="/pages/contact">contactarnos</a> para así poder solucionar tus dudas a la brevedad. <br/>Ademas te invitamos a conocer nuestros <a href="#">terminos y condiciones</a> de uso y nuestras <a href="#">preguntas frecuentes.</a></p>
	</div>
</section>
{% endblock %}