{% extends "base.html" %}
{% block content %}
<section class="container statics faq">
	<h1>Preguntas frecuentes</h1>

	<h3>¿Debo registrarme en giviu para poder regalar una gift card?</h3>
	<p>El acceso al portal de giviu es libre para todo usuario, sin embargo para acceder a comprar una gift card, deberas autorizar una previa vinculación a tu cuenta personal de facebook.com</p>


	<h3>¿Giviu es un sitio seguro?</h3>
	<p>Giviu posee certificado de seguridad SSL, que garantiza la confidencialidad en las transacciones realizadas en el sitio, por lo que puedes regalar seguro!</p>


	<h3>¿Cómo realizo una compra?</h3>
	<p>Deberás seguir los siguientes simples pasos:</p>
	<ul>
		<li>
		1. Busca una categoría del portal y selecciona la gift card deseada con el monto, servicio o producto que quieras regalar.
		</li>	
		<li>
		2. Personaliza la gift card y completa la información requerida con los datos del receptor de la gift card.
		</li>	
		<li>
		3. Envía la gift card completando el proceso de pago, luego recibirás un correo electrónico de confirmación cuyo contenido expresa que la gift card seleccionada ya ha sido enviada al correo electrónico indicado o que será enviada en la fecha que la seleccionaste.
		</li>
	</ul>

	<h3>El sistema me cobro varias veces una giftcard, ¿qué debo hacer?</h3>
	<p>
	Si  querías comprar una gift card y el sistema te cobró por error más de una vez este monto, envianos un correo electrónico a soporte@giviu.com y te tendremos una respuesta lo antes posible, desde ya, disculpa las molestias.</p>

	<h3>¿Cómo se que se envió mi giftcard?</h3>
	<p>Lo sabrás porque te enviaremos un correo electrónico de confirmación.</p>


	<h3>No recibí el mail de confirmación de la gift card que envíe</h3>
	<p>Envianos un correo electrónico lo antes posible y te responderemos a la brevedad.</p>

	<h3>¿Cómo sabré si se validó la giftcard que regale?</h3>
	<p>Dirígete a tu perfil de giviu y revisa en “giftcard enviadas”, ahí podrás conocer el estado de la giftcard.</p>

	<h3>Si regalé una giftcard y nunca la validaron, ¿me pueden devolver el dinero?</h3>
	<p>Envianos tu caso por correo electrónico indicando la fecha de compra de la giftcard y nos pondremos en contacto lo mas pronto posible.</p>

	<h3>¿Debo registrarme en giviu para poder recibir  una gift card?</h3>
	<p>No, ya que tu gift card te llegará al correo electrónico.Te recuerdo que si te registras en giviu podras ver tu gift card y todos sus detalles en “giftcard recibidas”.</p>


	<h3>¿Cuándo puedo validar mi gift card?</h3>
	<p>Podrás validarla y disfrutarla desde el momento en que ésta llega a tu correo electrónico.</p>

	<h3>¿Cómo validar mi gift card?</h3>
	<p>Sólo debes ir a la tienda a la cual esta asociada tu giftcard, donde te pedirán el código de ésta. Recuerda que debes leer las cláusulas de la gift card antes de ir a validarla, ya que algunas están sujetas a previa reserva.</p>

	<h3>¿Debo hacer una reserva para validar mi giftcard?</h3>
	<p>Sólo en el caso de que tu giftcard esté asociada a alguna cláusula explícita que diga previa reserva.</p>

	<h3>¿Puedo validar mi gift card en cualquier tienda asociada a giviu?</h3>
	<p>No, cada giftcard esta asociada a una tienda específica.</p>

	<h3>¿Cómo sé cuándo vence mi gift card?</h3>
	<p>Dirígete a tu perfil y revisa tus “giftcard recibidas” y podrás ver la fecha de expiración de cada una de éstas. </p>

	<h3>¿Quién me entrega la boleta?</h3>
	<p>La tienda donde debes validar tu giftcard te deberá entregar la boleta por los productos o servicios que hayas elegido.</p>

	<h3>No me puedo contactar con la empresa asociada a mi gift card, ¿qúe hago?</h3>
	<p>Revisa las cláusulas asociadas a tu giftcard, si indican que el contacto debe hacerse por correo electrónico insiste un poco y si pasadas las 48 horas aun no tienes respuesta envianos un correo electrónico detallando lo sucedido y buscaremos una solución.</p>

	<h3>Cuando fui a validar mi gift card, la tienda estaba cerrada </h3>
	<p>Si fuiste a validar tu giftcard dentro del horario señalado en las cláusulas asociadas a ésta y la tienda se encontraba cerrada, necesitamos resolver esto antes posible. Envianos un correo electrónico a soporte@giviu.com contandonos que sucedio y nos pondremos en contacto contigo lo antes posible.</p>

	<h3>No alcance a usar mi gift card</h3>
	<p>Las giftcards tienen un periodo extenso de 3 meses para que las puedas validar, después de éste periodo no es posible utilizarla, por lo que te recomendamos tomar las precauciones del caso y  regalarsela a otra persona que la pueda usar. </p>
	<p>Si no alcanzaste a usar tu gift card por un motivo extremo, envianos tu caso por correo electrónico y veremos tu caso.</p>

	<h3>¿Puedo devolver mi regalo?</h3>
	<p>Si tuviste algún problema con la tienda y por eso quieres devolver tu regalo, debes enviarnos un correo electrónico a soporte@giviu.com y te contactaremos lo mas pronto posible.</p>
	
	<p><strong>Si tus preguntas no fueron contestadas o aun tienes alguna duda, envíanos un correo electrónico a soporte@giviu.com </strong></p>

</section>
{% endblock %}