{% extends "base.html" %}
{% block content %}
<section class="container statics faq">
	<h1>Preguntas frecuentes</h1>

	<h3>¿Como eligo mi una giftcard?</h3>
	<p>Now after done with HTML we have to write some CSS to style it. To get our letterpress effect will use textshadow, textshadow css property deals with x-offset, y-offset, shadow blur and the actual colour of the shadow.</p>

	<h3>¿Como eligo mi una giftcard?</h3>
	<p>Now after done with HTML we have to write some CSS to style it. To get our letterpress effect will use textshadow, textshadow css property deals with x-offset, y-offset, shadow blur and the actual colour of the shadow.</p>

	<h3>¿Como eligo mi una giftcard?</h3>
	<p>Now after done with HTML we have to write some CSS to style it. To get our letterpress effect will use textshadow, textshadow css property deals with x-offset, y-offset, shadow blur and the actual colour of the shadow.</p>

	<h3>¿Como eligo mi una giftcard?</h3>
	<p>Now after done with HTML we have to write some CSS to style it. To get our letterpress effect will use textshadow, textshadow css property deals with x-offset, y-offset, shadow blur and the actual colour of the shadow.</p>

	<h3>¿Como eligo mi una giftcard?</h3>
	<p>Now after done with HTML we have to write some CSS to style it. To get our letterpress effect will use textshadow, textshadow css property deals with x-offset, y-offset, shadow blur and the actual colour of the shadow.</p>

	<h3>¿Como eligo mi una giftcard?</h3>
	<p>Now after done with HTML we have to write some CSS to style it. To get our letterpress effect will use textshadow, textshadow css property deals with x-offset, y-offset, shadow blur and the actual colour of the shadow.</p>

	<h3>¿Como eligo mi una giftcard?</h3>
	<p>Now after done with HTML we have to write some CSS to style it. To get our letterpress effect will use textshadow, textshadow css property deals with x-offset, y-offset, shadow blur and the actual colour of the shadow.</p>

	<h3>¿Como eligo mi una giftcard?</h3>
	<p>Now after done with HTML we have to write some CSS to style it. To get our letterpress effect will use textshadow, textshadow css property deals with x-offset, y-offset, shadow blur and the actual colour of the shadow.</p>

	<h3>¿Como eligo mi una giftcard?</h3>
	<p>Now after done with HTML we have to write some CSS to style it. To get our letterpress effect will use textshadow, textshadow css property deals with x-offset, y-offset, shadow blur and the actual colour of the shadow.</p>

	<p>Si aun no encuentras la respuesta que necesitas, no dudes en <a href="/page/contacto">contactarnos</a></p>

</section>
{% endblock %}