{% extends "base.html" %}
{% block content %}
<section class="container contact">
	<!--<aside class="span3">
		<ul>
			<li  class="selected"><a href="/enterprise/publish">Publica con nosotros</a></li>
		</ul>
		<br/>
		<br/>
		<center>
			<a href="/enterprise/publish" class="btn primary">
				Publica con nosotros
			</a>
			<br/><br/>
			¡Comienza hoy!
		</center>
	</aside>-->
	<section class="span4 image">
			<span class="icon-shop"></span>	
	</section>	
	<div class="span5 col publish">
		<h1>Publica con nosotros</h1>
		<p>Llena este sencillo formulario para poder comunicarnos contigo a la brevedad.</p>
		<form>
			<label class="span9">Nombre de tu empresa</label>
			<input type="text" class="span8"/>				
			<label class="span9">Tu nombre</label>
			<input type="text" class="span8"/>		
			<label class="span9">Tu correo electrónico</label>
			<input type="text" class="span8"/>				
			<label class="span9">Teléfono</label>
			<input type="text" class="span8"/>		
			<div class="span8" style="text-align:right;">
				<input type="submit" value="Enviar información" class="btn primary">
			</div>
			
		</form>
	</div>
</section>
{% endblock %}