{% extends "base.html" %}
{% block content %}
<section class="container statics faq">
	<h1>Preguntas frecuentes</h1>

	<h3>¿Debo registrarme en giviu para poder regalar una gift card?</h3>
	<p>
	El acceso al portal de giviu.com es libre para todo usuario, sin embargo para acceder a comprar una gift card, deberas autorizar una previa asociación o vinculación a tu cuenta personal de facebook.com
	</p>
	<h3>¿Como realizo una compra</h3>
	<p>Deberás seguir los siguientes simples pasos:</p>
	<ul>
	<li>1. Busca una categoría del portal y selecciona la gift card deseada con el monto, servicio o producto que quieras regalar.</li>
	<li>2. Personaliza la gift card y completa la información requerida con los datos del receptor de la gift card.</li>
	<li>3. Envía la gift card completando el proceso de pago, luego recibirás un correo electrónico de confirmación cuyo contenido expresa que la gift card seleccionada ya ha sido enviada al correo electrónico indicado o que será enviada en la fecha que la seleccionaste.</li>
	</ul>
	
	Qué métodos de pago puedo utilizar

	<h3>¿Giviu es seguro?</h3>
	<p>Giviu.com posee certificado de seguridad SSL, que garantiza la confidencialidad en la transmisión de datos de las transacciones realizadas en el sitio.</p>

	<h3>¿El sistema me cobro varias veces una gift card, qué debo hacer?</h3>
	<p>Si  querías comprar una gift card y el sistema te cobró por error más de una vez este monto, debemos verificar lo sucedido.
	envianos un mail a soporte@giviu.com y te tendremos una respuesta lo antes posible.</p>

	<h3>¿Qué pasa si me equivoque en escribir el mail de la persona a quien le regalé la gift card?</h3>

	<h3>¿Cómo se que se envio mi gift card?</h3>

	<h3>¿Cómo sabré si se validó mi gift card?</h3>

	<h3>¿Cómo validar mi gift card?</h3>

	<h3>¿Debo hacer una reserva para validar mi gift card?</h3>

	<h3>¿Puedo validar mi gift card en cualquier tienda asociada a giviu?</h3>

	<h3>¿Puedo devolver mi regalo?</h3>

	<h3>¿Si no validan la gift card que regale, me pueden devolver el dinero?</h3>

	<h3>¿Quién me entrega la boleta?</h3>

	<h3>¿Cómo sé cuando vence mi gift card?</h3>

	<h3>¿Cuando puedo validar mi gift card?</h3>

	<h3>¿Es seguro giviu?</h3>

	<h3>¿No recibí el mail de confirmación de la gift card que envíe?</h3>

	Puedes encontrar todos los Groupones que has comprado ingresando a tu cuenta personal en http://www.groupon.cl siguiendo los siguientes pasos:
	Haz click en “Ingresar” que se encuentra en el extremo superior derecho de la página web.
	Introduce tu correo electrónico y tu contraseña y haz click en “Entrar”.
	Ingresa en la pestaña "Groupones", donde encontrarás todos los Groupones que has comprado listos para ser impresos.
	El día de la compra de un Groupon, estos pueden aparecer en tu cuenta con estado "Pendiente". Esto quiere decir que se enviarán al finalizar la publicación. 
	Los cupones de productos que incluyen delivery  no serán enviados a tu correo electrónico ya que no es necesario presentarlo al momento de la entrega.
	 Si algún Groupon que has comprado no aparece en la lista, por favor contáctanos.

	- no me puedo contactar con la empresa asociada a mi gift card
	Durante 

	la primera semana, luego de finalizada la publicación, es posible que ocurran demoras para otorgar turnos o realizar reservas para fechas inmediatas.
	Es importante verificar los datos de contacto y el horario de atención en las condiciones de la oferta publicada, la página web o la cuenta de Facebook de la empresa.
	- Si estás intentando contactar a la empresa por teléfono sin éxito, por favor vuelve a intentarlo a diferentes horas del día o enviándoles un correo electrónico.
	- Si no tienes respuesta a un correo electrónico pasadas 24 horas, te aconsejamos volver a insistir.
	- Si a las 48 horas de intentar comunicarte con la empresa aún no tienes éxito, por favor contáctanos para que podamos ayudarte a buscar una solución.
	Recuerda que cada Groupon puedes utilizarlo hasta su fecha de expiración, que puede variar en cada caso y la puedes encontrar especificada dentro del mismo Groupon.



	- cuando fui a validar mi gift card, la tienda estaba cerrada
	Si al querer utilizar tu Groupon dentro del horario señalado en la publicación, fuiste al local de la empresa y éste se encontraba cerrado, necesitamos revisar la situación con el área correspondiente cuanto antes.

	Para esto necesitaremos que nos cuentes en detalle qué fue lo que pasó: cuándo hiciste la reserva, con quién hablaste al hacer la reserva (sólo si se identificó), cuándo fuiste al local, etc.

	Estos datos permitirán que revisemos lo sucedido y te demos la mejor solución.



	- no alcance a usar mi gift card
	Los Groupones tienen un período de validez que varía de acuerdo a las condiciones y características de cada Groupon. Pueden ser días,semanas o incluso varios meses. El período de validez lo puedes encontrar impreso en el Groupon.
	Desde la fecha de compra hasta la fecha de vencimiento puedes usar el Groupon. Si se acerca la fecha de expiración debes preocuparte de utilizarlo o también puedes regalarlo y así no perderlo.
	A modo de recordatorio te enviamos correos electrónicos de alertas antes de la fecha de expiración.
	Es importante que sepas que luego de la fecha de expiración del Groupon no es posible realizar gestiones de cambio o devolución.
	Si tienes algún problema grave por el cual no puedas acceder al servicio, producto o viaje que has comprado puedes contactarte con nosotros para buscar una solución.

</section>
{% endblock %}