{% extends "base.html" %}
{% block content %}
<section class="container statics faq">
	<h1>Terminos y condiciones</h1>
	<h3>Términos y condiciones generales</h3>
	<p>
	<a href="http://www.giviu.com" target="_blank">Giviu.com</a> corresponde a un portal de ventas de gift card online, correspondientes a montos, servicios y productos de diversas tiendas comerciales (empresas asociadas) y no representa de ninguna manera a éstas.
	GIVIU SpA, RUT N° 76.311.948-3, inscrito en el Registro de Comercio del Conservador de Bienes Raíces de Santiago, con fecha 9 de diciembre de 2013 a fojas 94659 bajo el nº 61680, representado por don Sebastián Andrés Durán Estay, ambos domiciliados para estos efectos en calle Matias Cousiño 150 oficina 716, comuna de Santiago.
	</p>

	<p>
	En el presente sitio web, diseñado para funcionar como un portal de gift card online, correspondiente a la dirección <a href="http://www.giviu.com" target="_blank">www.giviu.com</a> y los servicios y productos publicitados por terceras personas, incluyendo a las paginas web que esten publicadas en el sitio, se dan por conocidos, comprendidos y aceptados  los terminos y condiciones que se manifiestan a continuacion. 
	</p>

	<p>
	Los siguientes Términos y Condiciones Generales serán aplicables a todos y cada uno de los consumidores que hayan contratado y contraten nuestros servicios, en el caso de haber alguna variación. ésta regirá a partir de la fecha que éstos sean publicados de forma clara y visible en el sitio web <a href="http://www.giviu.com" target="_blank">www.giviu.com</a> 
	</p>
	<p>
	El usuario, sea persona natural o jurídica, agrupación sin personalidad legal, o representante en cualquier forma de los mismos, que no acepte los terminos y condiciones explicados a continuación, deberá abstenerse de utilizar cualquier servicio o información contenida en este sitio web.
	</p>


	<h3>Privacidad</h3>
	<p>
	Toda la información que el usuario proporcione que sea de carácter personal y privado, se regirá según las disposiciones legales vigentes y en especial de la Ley 19.628 sobre Protección de Datos Personales. No se divulgarán,venderán, arrendarán o entregarán a terceras personas que no sean parte de la empresa <a href="http://www.giviu.com" target="_blank">giviu.com</a>  los datos suministrados por los usuarios, sólo serán utilizados con el fin de mejorar la relación comercial. 
	En este punto se hace referencia a todos los datos, sin exclusión, que entregue el usuario, aludiendo al correo electrónico, la vinculación con su cuenta de facebook.com, fecha de nacimiento y ubicación.
	Cabe mencionar que el usuario siempre podrá solicitar no continuar recibiendo correos electrónicos.
	Para éste punto, <a href="http://www.giviu.com" target="_blank">Giviu.com</a>  pone a disposición del usuario el siguiente correo electrónico <strong>soporte@giviu.com</strong>
	</p>

	<h3>Propiedad Intelectual</h3>
	<p>
	Los contenidos en el sitio web <a href="http://www.giviu.com" target="_blank">giviu.com</a> , comprendiendo toda la línea gráfica, diseños, logotipo, organización, imágenes, códigos, fuente utilizada para su programación y otros 
	aspectos de la composición del sitio, se encuentran protegidos por leyes de creative commons. 
	Su mal uso, entiéndase por copia en su totalidad o de manera parcial, alteración y plagio constituyen una falta a dichos derechos.
	</p>

	<h3>Acceso al sitio</h3>
	<p>
	El acceso al portal de <a href="http://www.giviu.com" target="_blank">giviu.com</a>  es libre para todo usuario, sin embargo para acceder a comprar una gift card, deberá autorizar una previa asociación o vinculación a su cuenta personal de facebook.com.
	</p>

	<h3>Seguridad del sitio</h3>
	<p>
	<a href="http://www.giviu.com" target="_blank">Giviu.com</a>  posee certificado de seguridad SSL, que garantiza la confidencialidad en la transmisión de datos de las transacciones realizadas en el sitio.
	</p>

	<h3>Registro del usuario o cliente.</h3>
	<p>
	Será requisito necesario para la adquisición de una gift card, tanto de productos como de servicios, que el usuario lea y acepte los términos y condiciones mencionados en este documento.
	</p>

	<h3>Veracidad de la información entregada por el usuario</h3>
	<p>
	Toda la información que otorgue el usuario, tanto de él mismo como de la cuenta de correo electrónico a la que le enviará la gift card (receptor), deberá ser auténtica y comprobable. Para ésto <a href="http://www.giviu.com" target="_blank">www.giviu.com</a>  implementa un correo electronico de confirmación al usuario (emisor) cuyo contenido expresa que su gift card seleccionada ya a sido enviada al correo electrónico indicado. 
	</p>

	<h3>Usuarios y sus prohibiciones </h3>
	<p>
	Se prohíbe a los Usuarios hacer mal uso de la plataforma como ataques informáticos, ataques de DDoS  en cualquiera de sus formas, suplantación de identidad, entre otros.
	En caso de no ser respetado este punto, <a href="http://www.giviu.com" target="_blank">giviu.com</a>  se apegara a las disposiciones de la Ley N° 19.223 sobre Delitos Informáticos, con la Ley N°19.628 sobre Protección de la Vida Privada y legislación vigente.
	</p>

	<h3>Enlaces a otras páginas web</h3>
	<p>
	El portal de <a href="http://www.giviu.com" target="_blank">giviu.com</a>  contiene enlaces a paginas web de terceros, <a href="http://www.giviu.com" target="_blank">Giviu.com</a>  no se hace responsable por el contenido que aperarece en éstas, ya que la función de dichos enlaces es para poder entregarle la mayor cantidad de información al usuario.
	</p>

	<h3>Restricciones de las gift card</h3>
	<ul>
		<li>1. Cada gift card está sujeta a términos y condiciones propias de cada empresa, éstos serán explícitos en el momento de seleccionar la gift card.</li>
		<li>2. Las gift card son de uso exclusivo para validar en la empresa en la cual fueron compradas. ejemplo: Juan le compró a María una gift card en el portal de giviu.com, en la tienda x, ésta gift card podrá ser validada por María en la tienda x y no en la tienda z.</li>
		<li>3. Las gift card no son nominativas, por lo que la puede validar cualquier persona que cuente con el código de validación.</li>
		<li>4. Las gift card ya sean de monto, servicio o producto poseerán una validez de 90 días a partir del momento en el cual fueron enviadas, dejando claro que el envio lo selecciona el usuario.</li>
		<li>5.- En el caso de los productos, el stock será explícito en el momento de la compra.</li>
		<li>6. En el caso de las gift card asociadas a servicios o productos a domicilio, estas deberán ser coordinados entre el acreedor de la gift card y la empresa a la cual corresponda el servicio, quedando giviu.com excluido de esta responsabilidad.</li>
	</ul>
	
	<h3>Proceso de compra de una gift card de monto, servicio o producto</h3>
	<p>EL usuario debera ingresar al portal online <a href="http://www.giviu.com" target="_blank">www.giviu.com</a>  y seguir los siguientes pasos:</p>
	<ul>
		<li>1. Buscar una categoría del portal y seleccionar la gift card deseada con el monto, servicio o producto que desee regalar.</li>
		<li>2. Personalizar la gift card y completar la información requerida con los datos del receptor de la gift card</li>
		<li>3. Enviar la gift card completando el proceso de pago, luego el usuario recibirá un correo electrónico de confirmación cuyo contenido expresa que la gift card seleccionada ya ha sido enviada al correo electrónico indicado o que será enviada en la fecha que fue seleccionada por el usuario. </li>
	</ul>

	<h3>Devolución de una gift card </h3>
	<p>El usuario podrá ejercer su derecho de devolución dentro del plazo de 10 días contando desde el día en que la gift card fue comprada.
	Esto será válido siempre y cuando el receptor no haya validado la gift card en la tienda correspondiente.
	La devolución por parte de <a href="http://www.giviu.com" target="_blank">giviu.com</a>  sera efectiva con un periodo de 30 días a contar de recibido el correo electrónico por parte del usuario.<br/>
	La devolución deberá dirigirse a devoluciones@giviu.com.
	</p>
	<h3>Boletas</h3>
	<p>Las boletas serán entregadas por el proveedor al momento de la prestación del servicio, contando con el plazo legal de cualquier empresa comercial.</p>

</section>
{% endblock %}