{% extends "base.html" %}
{% load locale_price %}
{% block title %} {{ merchant.name }} | {% endblock %}
{% block meta %}
    <meta property="og:image" content="{{ merchant.logo }}"/>
    <meta property="og:title" content="{{ merchant.name }}" />
    <meta property="og:description" content="{{ merchant.description }}" />
    <meta property="og:url" content="https://www.giviu.com/partner/{{ merchant.slug }}" />
{% endblock %}

{% block content %}

<section class="container profile">
	<div class="span2">
		<div class="userSide span9 arrow">
			<figure class="avatar">
				<img class="span9" src="{{ merchant.logo }}">
				<!--<a class="btn secondary changeImage"><span class="icon-camera"></span> Cambiar imagen</a>-->
			</figure>
			<ul class="userInfo">
				<li><strong>{{ merchant.name }}</strong></li>
				<li>{{ merchant.description }}</li>
				<li><a href="http://{{ merchant.website }}" target="_blank">{{ merchant.website }}</a></li>
				<li>{{ merchant.contact_email }} </li>
				<li><a class="tabLink" href="giftcards">Giftcards</a></li>
				{% for tab in tabs %}
				<li><a class="tabLink" href="tab{{ tab.id }}">{{ tab.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="userSide span9">
			<center>
				<strong>Dirección</strong>
			</center>
			<ul class="userInfo">
				<li>
					<a href="https://www.google.com/maps?q={{ merchant.address }}&hl=es&ie=UTF8&t=m&z=16" target="_blank"><img class="span9" src="https://maps.googleapis.com/maps/api/staticmap?center={{ merchant.address }}&zoom=18&size=400x400&maptype=roadmap&markers=color:blue%7Clabel:S%7C{{ merchant.address }}&sensor=false&scale=2"></a>
					<small class="address span9"><span class="icon-location"></span> {{ merchant.address }}</small>
				</li>
			</ul>
		</div>
	</div>
	<div class="span7 col userContent">

		<div class="span9">
			<section class="giftcardsProfile span9">
				<section class="span9">
					<section class="span9 enterpriseTab" data-tab="giftcards" id="calendar" data-columns>
					    {% for product in products %}
					    <article class="giftCardModule new partner" data-source-id="{{ product.id }}">
					      <figure class="giftcard">
					        <span class="like {% if not user.is_authenticated %}disabled{% endif %} {% if product.get_own_like %} active {% endif %}" original-title="Agregar a favoritos" data-source-id="{{ product.id }}" data-source-type="1"><span class="icon-heart"></span></span>
					        <a href="/giftcard/detail/{{ product.slug }}">
					          <img src="{{ product.image }}">
					        </a>
					      </figure>
					      <div class="baseContent span9">
					        <a href="/giftcard/detail/{{ product.slug }}"><h2>{{ product.title|truncatewords:7 }}</h2></a>
					        <h4>en <a href="/partner/{{ product.merchant.slug }}">{{ product.merchant.name }}</a></h4>
					        <div class="newAction">
					          {% if product.kind == '1' %}
					            <select class="span5" name="webmenu"  onchange="showValue(this.value)">
					              {% for price in product.get_price %}
					              <option value="{{ price }}">{{ price|clp }}</option>
					              {% endfor %}
					            </select>
					          {% endif %}
					          {% if product.kind == '0' %}
					          <strong class="span5 price">{{ product.get_price|clp }}</strong>
					          {% endif %}
					          <a href="/giftcard/detail/{{ product.slug }}" class="btn primary more-detail-buy">Regalar</a>
					          <div class="validation-type span9">
					            {% if product.get_friend_likes %}
					            <span class="friend-count" data-source-id="{{ product.id }}">{{ product.get_friend_likes|length }} Amigos desean esto</span> |
					            {% endif %}
					            <!-- Valido en <span class="icon-shop"></span> <span class="icon-laptop"></span> |  --><span class="like {% if not user.is_authenticated %}disabled{% endif %} " data-source-id="{{ product.id }}" data-source-type="1">Agregar a favoritos</span>
					          </div>
					        </div>
					        <!--
					        {% if product.sold_quantity < 5 %}
					        <div class="quantity">
					          Quedan <strong>{{ product.sold_quantity }}</strong> productos ¡Apresurate!
					        </div>
					        {% endif %}
					        -->
					        {% if product.get_friend_likes %}
					        <div class="moduleDescription" data-source-id="{{ product.id }}" >
					          <div class="friends-like">
					            {% for friend in product.get_friend_likes %}
					              <figure class="friend-like">
					                <img src="https://graph.facebook.com/{{ friend }}/picture?width=40&height=40">
					              </figure>   
					            {% endfor %}

					          </div>
					        </div>
					        {% endif %}
					      </div>

					    </article>
					    {% endfor %}
					</section>
				</section>
				{% for tab in tabs %}
					<section data-tab="tab{{ tab.id }}" class="span9 enterpriseTab col">
						<h3>{{ tab.title }}</h3>
						{{ tab.content|safe }}
					</section>
				{% endfor %}
			</section>

		</div>
	</div>
</section>

<script>
$(document).ready(function(){
	$('.tabLink').on('click',showTab);
	defaultTab()
	function defaultTab(){
		var url = document.URL;
        var url = url.split('#');
        if(url[1]){
			$('.enterpriseTab').hide();
			$('[data-tab="'+url[1]+'"]').show();
        }
	}

	function showTab(e){
		e.preventDefault();
		$('.enterpriseTab').hide();
		$('[data-tab="'+$(this).attr('href')+'"]').show();
		var stateObj = { foo: "a" };
		history.pushState(stateObj, "page 2", "/partner/{{ merchant.slug }}#"+$(this).attr('href'));
	}

});
</script>
{% endblock %}
