{% extends "base.html" %}
{% load locale_price %}
{% block content %}
<!-- <center>
	<span style="font-size:200px;" class="icon-shocked"></span></br></br></br>
	<strong>Esta giftcard no existe </br>¿Seguro que no estas haciendo trampa?</strong>
</center> -->
<section class="show">
	<div class="giftcardcontainer span9">
		<span class="span9 title">
			<strong>¡{{ product.giftcard_to.get_full_name }}, has recibido una giftcard!</strong>
		</span>

		<figure class="span5 giftCardStyle" >
			<img class="span9" src="{{ product.design }}"/>
		</figure>
		<span class="span4 from col">
			<figure>
				<img src="https://graph.facebook.com/{{ product.giftcard_from.fbid }}/picture?width=100&height=100"/> 
			</figure>
			<strong>{{ product.giftcard_from.get_full_name }}:</strong>
		</span>
		<div class="span4 coment col">
			<p>"{{ product.comment }}"</p>
		</div>
		<div class="span4 code col">
			Código: <strong>{{ hash }}</strong>
		</div>
	</div>
</section>


<section class="show finePrint ">
	<div class="moreInfo span9">
		<figure class="span2">
			<img class="span9" src="{{ product.giftcard.image }}">
		</figure>
		<div class="span6 col principalInfo">
			<div class="span9">Tienda: <strong>{{ product.giftcard.merchant.name }}</strong></div>
			<div class="span9">Producto: <strong>{{ product.giftcard }}</strong></div>
			{% if product.giftcard.kind == '0' %}
			<div class="span9">Valor giftcard: <strong>{{ product.giftcard.price|clp }}</strong></div>
	      	{% endif %}
		</div>
	</div>

	<div class="moreInfo span5">
		<div class="span9">
<!-- 			<h3><span class="icon-checkmark"></span> ¿Como validar esta giftcard?</h3>
 -->			<p>Solo debes acercarte a la tienda <strong>"{{ product.giftcard.merchant.name }}"</strong> ubicada en <strong>{{ product.giftcard.merchant.address }}</strong> mostrando esta giftcard impresa o digital.</p>
			<p>Si tienes alguna duda, puedes escribir a <strong>{{ product.giftcard.merchant.contact_email }} </strong>, ademas puedes ver mas información de la empresa haciendo <a href="/partner/{{ product.giftcard.merchant.slug }}">click aquí</a></p>
		</div>
	</div>

	<div class="moreInfo span4 col">
		<div class="span9 col fine-print">
			<h3><span class="icon-menu"></span> Detalles de tu giftcard</h3>
			<ul>
				<li>Esta giftcard es válida hasta el <strong>{{ product.expiration_date|date:"d/m/Y" }}</strong></li>
			</ul>
			{{ product.giftcard.fine_print|safe}}
		</div>
	</div>
</section>
<script>
$(document).ready(function(){
	$('header').hide();
});
</script>
{% endblock %}
