{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section class="register">
  <section id="registercontent">
    <section class="span9 image" id="selecttype">
      <br/>
      <br/>
      <br/>
      <br/>
      <center>
        <h1><span class="icon-key"></span> Ingresa a Giviu</h1>
        <p>Utilizando tu cuenta de facebook</p>
        <a href="#" class="facebook fb-login-button" id="btn-login">
          <span class="msg">
            <fb:login-button size="large" onlogin="require('./log').info('onlogin callback')" scope="email user_birthday user_location friends_birthday">
              Click aquí para ingresar
            </fb:login-button>
          </span>
          <img style="display:none;" class="loader" src="/static/img/loaderfacebook.gif">
        </a>
        <div class="loader">
          <center>
            <img src="/static/img/loaderBackGreen.gif"/>
          </center>
        </div>

        <div class="confirm">
          <div class="span3">
            <figure class="span8">
              <img class="span9" id="facebook-avatar" src="">
            </figure>
          </div>
          <div class="span6">
              <form method="post" id="register" action="/register">
                {% csrf_token %}
                {% if referer %}
                <input type="hidden" name="referer" value="{{ referer }}" />
                <p>Has sido invitado por {{ referer_name }}, cuyo fbid es {{ referer_fbid }}.</p>
                {% endif %}
                <ul>
                  <li id="facebook-name"></li>
                  <li id="facebook-birth"></li>
                  <li id="facebook-email"></li>
                </ul>
            </form>
            <a href="#" class="btn confirmBtn">ingresar</a>
          </div>
        </div>
        <small class="tinytext span9">Te prometemos que no publicaremos nada en tu nombre</small>

      </center>
    </section>
  </section>

</section>
    <span id="inviteFriends" style="display:none;">
      <div class="span9" id="likeLogin">
        <div class="span4">
          <strong>
            <span class="icon-facebook ico blue"></span>
          </strong>
        </div>
        <div class="span5">
          Invita a tus amigos de Facebook a disfrutar de <strong>Giviu</strong>
        </div>
        <div class="span9" id="likeLoginAction">
          <a onClick="FB.ui({method: 'apprequests',message: 'Invita a tus amigos a Giviu.com'}, sendInviteFriends);" href="javascript:;" class="login">Invitar</a>

        </div>
      </div>
    </span>
<script src="{% static "js/facebookconnect.js" %}"></script>
{% endblock %}
