{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section class="container register">
  <h1>Registrate</h1>
  <section id="registercontent">
    <section class="span9 image" id="selecttype">
      <br/>
      <br/>
      <br/>
      <br/>
      <center>
        <a href="#" onclick="login();" class="btn facebook"><span class="msg"><span class="icon-facebook"></span> Registrate utilizando facebook (recomendado)</span> <span style="display:none;" class="loader">Esto puede tardar unos segundos <img src="<? echo $GLOBALS["baseURL"]; ?>/frontend/image/loginloader.gif"></span></a>
        <br/>
        o
        <br/>
        <br/>
        <a href="#" id="continue">Ingresa tus datos manualmente</a>
      </center>
    </section>
    <div class="span1 medio col">
      .
    </div>
    <section class="span9 col" id="formComplete">
      <form method="post" id="register" action="/user/register">
        <div class="span5">
          <label class="span9">Tu nombre</label>
          <input type="text" name="name" class="span8 required"/>
          <label class="span9">Tu apellido</label>
          <input type="text" name="lastName" class="span8 required"/>
          <label class="span9">Tu correo electrónico</label>
          <input type="text" name="username" class="span8 required email" id="username"/>
          <div class="span8 msg alert" id="recovery" style="font-size:0.8em; display:none;">
            <span class="icon-shocked"></span> Este correo ya figura en nuestros registros <a href="/user/recoveryPass">¿has olvidado tu contraseña?</a>
          </div>
          <label class="span9">Ingresa una contraseña</label>
          <input type="password" name="pass" class="span8 required"/>
          <label class="span9">Re-ingresa una contraseña</label>
          <input type="password"  name="pass"class="span8 required"/>
        </div>

        <div class="span4 col">
          <label class="span9">Sexo</label>
          <select class="span8" name="gender">
            <option value="male">Masculino</option>
            <option value="female">Femenino</option>
          </select>
          <label class="span9">Fecha de nacimiento</label>
          <input type="text" class="span8 required" id="datepicker" name="birth"/>
          <label class="span9">Ubicación</label>
          <select class="span8  region required local required" name="region" data-id="" data-selected="7">

          </select>
          <select class="span8  provincia required local required" name="provincia" data-id="7" data-selected="25">

          </select>
          <select class="span8  comuna required local required" name="comuna" data-id="25" data-selected="115">

          </select>
          <input type="hidden"  name="facebookId" value="0"/>

          <div class="span8" style="text-align:right;">
            <a id="changeAccount" onclick="changeAccount();" href="#" style="display:none;" class="btn neutral">Cambiar cuenta de fb</a>
            <input type="submit" value="Registrar" class="btn primary">
          </div>
        </div>
      </form>
    </section>


  </section>

</section>
<script src="{% static "js/facebookconnect.js" %}"></script>

<script>

  $(document).ready(function(){
  $('#register').validate();
  $('#changeOption').click(function(){
  formNormal('0');
  });

  $('#username').focusout(function(){
  var url = "/interaction/userByMail";
  var email = $(this).val();
  $('#register input').attr('disabled','disabled')
  $.get( url, { u: email} )
  .done(function( data ) {
  var data = data.replace(/^\s+|\s+$/g, '');
  if(data=='1'){
  $('#username').val('').focus();
  $('#recovery').slideDown('fast');
  $('#register input').removeAttr('disabled')
  }else{
  $('#recovery').slideUp('fast');
  $('#register input').removeAttr('disabled')
  }
  });
  })
  $( "#datepicker" ).datepicker({
  changeMonth: true,
  changeYear: true,
  monthNamesShort: [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ],
  dateFormat: "dd/mm/yy",
  defaultDate: -1,
  yearRange: "1930:2013"
  });

  $('#continue').click(function(e){
  e.preventDefault();
  formComplete()
  })
  defineUbication()

  /*$.get( "/interaction/region")
  .done(function( data ) {
  $('.region').html(data);
  });*/


  $('.region').change(function(){
  provincia($(this).val());
  })

  $('.provincia').change(function(){
  comuna($(this).val());
  })


  function defineUbication(){
  $('.local').each(function(){
  var id          = $(this).attr('data-id');
  var selected = $(this).attr('data-selected');
  var selected = parseInt(selected);
  var type        = $(this).attr('name');
  ajaxDefineUbication(id,type,selected);
  })
  }

  function ajaxDefineUbication(id, type,selected){
  var url = "/interaction/"+type;
  $.get( url, { u: id, s: selected} )
  .done(function( data ) {
  $('.'+type).html(data);
  });
  }

  function region(regionId){
  $.get( "/interaction/region", { u: id} )
  .done(function( data ) {
  $('.region').html(data);
  });
  }

  function provincia(regionId){
  $.get( "/interaction/provincia", { u: regionId} )
  .done(function( data ) {
  $('.provincia').html(data);
  });
  }
  function comuna(provinciaId){
  $.get( "/interaction/comuna", { u: provinciaId} )
  .done(function( data ) {
  $('.comuna').html(data);
  });
  }

  function formComplete(facebookId){
  $('#selecttype').addClass('up');
  $('#registercontent').addClass('big');
  $('[name="facebookId"').val(facebookId);
  }

  function formNormal(){
  $('#selecttype').removeClass('up');
  $('#registercontent').removeClass('big');
  }

  })

</script>
{% endblock %}
