{% extends "base.html" %}
{% load locale_price %}
{% block content %}
<section class="container profile">
  <div class="span2">
    <div class="userSide span9 arrow">
      <figure class="avatar">
        <img class="span9" src="https://graph.facebook.com/{{ user.fbid }}/picture?width=500&height=500"/>
        <!--<a class="btn secondary changeImage"><span class="icon-camera"></span> Cambiar imagen</a>-->
      </figure>
      <ul class="userInfo">
        <li><span class="icon-user"></span> {{ user.first_name }} </li>
        <li>{{ user.birthday }} </li>
        <li>{{ user.email }} </li>
        <li><a href="/user/calendar" class="btn primary">Mis fechas</a> </li>
      </ul>
    </div>
  </div>
  <div class="span7 col userContent">
    <div class="span9">
      <section class="giftcardsProfile span9">
        <section class="span9">
          <ul class="tabs span9">
            <li class="tab"><a href="/user">Giftcards recibidas</a></li>
            <li clasS="tab selected"><a href="/user/sent">Giftcards regaladas</a></li>
            <li clasS="tab"><a href="/user/calendar">Mis fechas</a></li>
          </ul>

          <div class="span9">
            {% for product in products %}
            {% if product.giftcard.auto_validate %}
            <div class="span9 giftcardList">
              <div class="span6 col">
                <h3>{{ product.giftcard }}</h3>
                <strong class="price">{{ product.price|clp }}</strong>
              </div>
            </div>
            {% else %}
            <div class="span9 giftcardList">
              <figure class="span2">
                <img class="span9" src="{{ product.design }}">
              </figure>
              <div class="span6 col">
                <h3>{{ product.giftcard }}</h3>
                <strong class="price">{{ product.price|clp }}</strong>
                <ul>
                  <li><strong>Enviado a: </strong> <strong>{{ product.giftcard_to.get_full_name }}</strong> ({{ product.giftcard_to.email }})</li>
                  <li><strong>Enviada el: </strong> {{ product.send_date|date:"d /m/ Y" }}</li>
                </ul>
              </div>
              <a href="/product/show/{{ product.uuid }}" target="_blank" class="btn primary verGift">Ver giftcard</a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </section>
      </section>
    </div>
  </div>
</section>
{% endblock %}
