<div  style="font-size:12px; background-color:#ececec;">

<!--start 100% wrapper (white background) -->
<table width="100%" id="mainStructure"  border="0" cellspacing="0" cellpadding="0" style="background-color:#ececec;">


    <!--START TOP NAVIGATION ​LAYOUT-->
  <tr>
    <td valign="top">
      <table width="100%"  align="center" border="0" cellspacing="0" cellpadding="0"   style="background-color:#ececec;" >


      <!-- START CONTAINER NAVIGATION -->
      <tr>
        <td align="center" valign="top"  class="fix-box">
          
          <!-- start top navigation container -->
          <table width="600"  align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ececec" style="background-color:#ececec;">
            
            <tr>
              <td valign="top" >
                  

                <!-- start top navigaton -->
                <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" >

                  <!-- start space -->
                  <tr>
                    <td valign="top" height="20"  >
                    </td>
                  </tr>
                  <!-- end space -->

                  <tr>
                    <td valign="middle">
                    
                    <!--start content nav -->

                        </td>
                      </tr>
                      <!--end call us -->

                    </table>
                    <!--end content nav -->

                   </td>
                 </tr>

                  <!-- start space -->
                  <tr>
                    <td valign="top" height="20"  >
                    </td>
                  </tr>
                  <!-- end space -->

               </table>
               <!-- end top navigaton -->
              </td>
            </tr>
          </table>
          <!-- end top navigation container -->

        </td>
      </tr>
      

       <!-- END CONTAINER NAVIGATION -->
  
      </table>
    </td>
  </tr>
   <!--END TOP NAVIGATION ​LAYOUT-->



  
  <!--START IMAGE HEADER LAYOUT-->

  <tr>
    <td valign="top" class="fix-box">
      <table  width="100%"   align="center" border="0" cellspacing="0" cellpadding="0"  class="full-width"   style="background-color:#ececec;">


      <tr>
        <td class="full-width" width="100%" align="center" valign="top" >
          <!-- start header container -->  
          <table width="600"  align="center" border="0" cellspacing="0" cellpadding="0"  class="full-width" style="background-color:#ffffff; ">

            <tr>
              <td valign="top" align="center" >

                <a href="http://www.giviu.com">
                  <img class="image-100-percent" src="http://commondatastorage.googleapis.com/site-images%2Fmailing%2Fheader_mailing_.png" width="600" alt="image_header_600x300"  style="max-width:600px display:block; " border="0" hspace="0" vspace="0"/>  
                </a>
              </td>
            </tr>

          </table>
          <!-- end header container --> 
        </td>
      </tr>
    </table>
  </td>
</tr>
  <!--END IMAGE HEADER LAYOUT-->  



  <!-- START SHADOW-->  
       <tr>
        <td  width="100%" align="center" valign="top" class="fix-box">
         
          <table width="600" height="11" align="center" border="0" cellspacing="0" cellpadding="0"  class="full-width" style="background-color: #ffffff;"  >
           
            <tr>
              <td valign="top" height="11" align="center">

                  <img class="image-100-percent" src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/shadow.png" width="596" alt="shadow"  style="max-height:11px; max-width:600px; display:block; "/>  
              </td>
            </tr>
          </table>
        </td>
      </tr>
  <!-- END SHADOW --> 




 <!-- START LAYOUT 1 --> 

 <tr>
   <td align="center" valign="top" class="fix-box" >

     <!-- start layout-1 container width 600px --> 
     <table width="600"  align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: #ffffff;">
       <tr>
         <td valign="top">
           <!-- start layout-1 container width 560px --> 
           <table width="560"  align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">

             <!--start space height --> 
             <tr>
               <td height="20" ></td>
             </tr>
             <!--end space height --> 

             <!-- start text content --> 
             <tr>
               <td valign="top">
                 <table border="0" cellspacing="0" cellpadding="0" align="left" >
                   <tr>
                     <td  style=" font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#555555; font-weight:300; text-align:center;">
                       <span style="color: #555555; font-weight:300;">
                         <a href="http://www.giviu.com" style="text-decoration: none; color: #555555; font-weight: 300;">
                           Giftcard vendida
                         </a>
                       </span>
                     </td>
                   </tr>

                   <!--start space height --> 
                   <tr>
                     <td height="15" ></td>
                   </tr>
                   <!--end space height --> 

                   <tr>
                     <td  style="font-size: 13px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#a3a2a2; font-weight:normal; text-align:center; ">
                       
						Se ha vendido una giftcard del producto <strong>{{ product_name }}</strong> con fecha de envio <strong>{{ product_date }}</strong>

                     </td>
                   </tr>

                  <!--start space height --> 
                   <tr>
                     <td height="20" ></td>
                   </tr>
                   <!--end space height -->

                   <tr>
                     <td valign="top" width="auto" align="center">
                       <!-- start button -->                         
                       <table border="0" align="center" cellpadding="0" cellspacing="0">
                         <tr>
                           <td width="auto"  align="center" valign="middle" height="32" style=" background-color:#27ae60;  border-radius:18px; background-clip: padding-box;font-size:13px; font-family: Arial,Tahoma, Helvetica, sans-serif; text-align:center;  color:#ffffff; font-weight: normal; padding-left:18px; padding-right:18px; ">
                             <span style="color: #ffffff; font-weight: normal;">
                               <a href="http://www.giviu.com/merchant" style="text-decoration: none; color: #ffffff; font-weight: normal;">
                                Más información aquí
                               </a>
                             </span>
                           </td>
                           <!-- start space width -->
                            <td valign="top" >
                              <table width="10" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td valign="top">
                                    &nbsp;
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <!--end space width -->
                       </table>
                       <!-- end button -->   
                      </td>
                   </tr>
                 </table>
               </td>
             </tr>
             <!-- end text content --> 
             <!--start space height --> 
             <tr>
               <td height="20" ></td>
             </tr>
             <!--end space height -->
           </table>
           <!-- end layout-1 container width 560px --> 
         </td>
       </tr>
     </table>
     <!-- end layout-1 container width 600px --> 
   </td>
 </tr>

 <!-- END LAYOUT 1 -->



 <!-- START SHADOW-->  
      <tr>
        <td  width="100%" align="center" valign="top" class="fix-box">
          <table width="600" height="11" align="center" border="0" cellspacing="0" cellpadding="0"  class="full-width" style="background-color: #ececec;"  >
            <tr>
              <td valign="top" height="11" align="center">
                <img class="image-100-percent" src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/shadow.png" width="596" alt="shadow"  style="max-height:11px; max-width:600px; display:block; "/>  
              </td>
            </tr>
          </table>
        </td>
      </tr>
  <!-- END SHADOW --> 




  <!-- START HEIGHT SPACE 20PX-->
 <tr>
   <td valign="top" align="center" >
     <table width="100%" height="20"  border="0" cellspacing="0" cellpadding="0" >
       <tr>
         <td valign="top" height="20">
          <img  src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/space.png" width="20" alt="space" style="display:block; max-height:20px; max-width:20px;"> </td>
       </tr>
     </table>
   </td>
 </tr>
 <!-- END HEIGHT SPACE 20PX-->

 <!--START ICON SOCAIL -->
  <tr>
    <td align="center" valign="top"   class="fix-box">
      <!-- start container 600 -->
      <table width="600"  align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #ffffff; ">
        <tr>
          <td valign="top">
            <table width="560"  align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color: #ffffff; ">
            <!-- start space -->
              <tr>
                <td valign="top" height="10">
                </td>
              </tr>
            <!-- end space -->
              <tr>
                <td valign="top" >                  
                  <!-- start container -->
                  <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                      <td valign="top">
                      <!--start icon socail -->
                        <table  border="0"  align="center" cellpadding="0" cellspacing="0"  class="container2" >
                          <tr>
                           <td valign="top" align="center" >
                            <table  border="0"  align="center" cellpadding="0" cellspacing="0" class="container" >
                                <tr>
                                  <td   align="center" valign="middle"  id="clear-padding">
                                  <a href="http://www.facebook.com/giviuchile"><img src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/icon-facebook-gray.png" width="30" alt="icon-facebook" style="max-width:30px;" border="0" hspace="0" vspace="0"/></a>
                                </td>
                                <td  s align="center" valign="middle" id="clear-padding">
                                  <a href="http://www.twitter.com/giviuchile"><img src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/icon-twitter-gray.png" width="30" alt="icon-twitter" style="max-width:30px;" border="0" hspace="0" vspace="0"/></a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <!--end icon socail -->

                     </td>
                   </tr>
                 </table>
                 <!-- end container  -->
                </td>
              </tr>

                <!-- start space -->
              <tr>
                <td valign="top" height="10">
                </td>
              </tr>
                <!-- end space -->

               <!-- start space -->
              <tr>
                <td valign="top" class="increase-Height" >
                </td>
              </tr>
              <!-- end space -->

            </table>
            <!-- end container 600-->
          </td>
        </tr>
      </table>
    </td>
  </tr>
   <!--END ICON SOCAIL--> 


<!-- START SHADOW-->  
  <tr>        
    <td  width="100%" align="center" valign="top" class="fix-box">
      <table width="600" height="11" align="center" border="0" cellspacing="0" cellpadding="0"  class="full-width" style="background-color: #ececec;"  >       
        <tr>
          <td valign="top" height="11" align="center">

            <img class="image-100-percent" src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/shadow.png" width="596" alt="shadow"  style="max-height:11px; max-width:600px; display:block; "/>  
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- END SHADOW --> 

  <tr>
    <td align="center" valign="top" class="fix-box" style="background-color:#27ae60;">
      <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#27ae60;">
        <tr>
          <td valign="top">
            <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#27ae60;">
                <!--start space height -->                      
                <tr>
                  <td height="10" ></td>
                </tr>
                <!--end space height --> 
                <tr>
                  <!-- start COPY RIGHT content -->  
                  <td valign="top" style="font-size: 13px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#ffffff; font-weight:normal; text-align:center; " >
                    www.giviu.com
                  </td>
                  <!-- end COPY RIGHT content --> 
                </tr>
                <!--start space height -->                      
                <tr>
                  <td height="10" ></td>
                </tr>
                <!--end space height --> 
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!--  END FOOTER COPY RIGHT -->

</table>
<!-- end 100% wrapper (white background) -->
</div>