<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>correo template</title>
<body>
<div style="background-color:#f8f8f8; padding:10px 0px; margin:0px; width:100%; display:block; text-align:center; font-family: Helvetica, arial, sans-saerif;">
	<center>
		<table border="0" width="750"  cellspacing="0" cellpadding="0"  style="background-color:#fff; border:1px solid #e1e1e1;border-bottom:none;">
			<thead style="background-image:url('http://commondatastorage.googleapis.com/site-images/mailing/postal-background.png'); background-repeat:repeat-x;">
				<tr>
					<td>
						<a href="{baseurl}" style="margin:none; text-decoration:none; margin:20px 10px; float:left;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/logo.png"></a>
					</td>
					<td style="text-align:right;">
						<a href="http://www.twitter.com" style="margin:none; text-decoration:none; margin:20px 10px 0px 10px; float:right;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/twitter.png"></a>
						<a href="http://www.facebook.com" style="margin:none; text-decoration:none; margin:20px 0px; float:right;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/facebook.png"></a>
					</td>
				</tr>
			</thead>
		</table>
<!-- header -->
		<table border="0" width="750"  cellspacing="0" cellpadding="0"  style="background-color:#fff; border:1px solid #e1e1e1; border-bottom:none;">
			<tr>
				<td style="background-color:#23a057; height:108px; text-align:center; color:#fff; background-image:url('http://commondatastorage.googleapis.com/site-images/mailing/background-title.png'); font-size:30px; font-weight:lighter;">
					Bienvenido a <strong>Giviu</strong>
				</td>
			</tr>
			<tr style="text-align:center; color:#807f7f;">
				<td>
					<br>
					<strong style="color:#23a057; font-size:22px">{{name}}</strong>
					<p style="font-size:16px;">
					Te damos la mas cordial bienvenida a <a href="{baseurl}" style="color:#23a057;">Giviu</a>, en donde puedes encontrar una gran diversidad de giftcard para regalar.
					</p>
					<p style="font-size:16px;">
					Gracias por preferirnos, si tienes alguna duda, consulta o sugerencia no dudes en <a href="https://www.giviu.com/page/contacto" style="color:#23a057;">escribirnos.</a>.
					</p>
					<p style="font-size:16px;">
						<i>Atentamente equipo giviu</i>
					</p>
				</td>
			</tr>
		</table>
		<table border="0" wi750dth=""  cellspacing="0" cellpadding="0"  style="background-color:#fff; border:1px solid #e1e1e1; border-bottom:none; border-top-style:dotted;">

			<tr style="text-align:center; color:#807f7f;">
				<td>
					<img  style="margin:20px 0px 10px;" src="http://commondatastorage.googleapis.com/site-images/mailing/search.png">
					<strong style="display:block; color:#8b41b3; font-size:20px;">Busca</strong>
					<p>Busca dentro de <a href="http://www.giviu.com" style="color:#23a057;">Giviu</a> <br/>
					experiencias o giftcard para <br/>
					tiendas de todo tipo.
				</p>
				</td>
				<td>
					<img style="margin:30px 0px 10px;"  src="http://commondatastorage.googleapis.com/site-images/mailing/custom.png">
					<strong style="display:block; color:#8b41b3; font-size:20px;">Personaliza</strong>
					<p>
						En <a href="http://www.giviu.com" style="color:#23a057;">Giviu</a> puedes encontrar <br/>
						una variedad de diseños <br/>
						para cada ocasión.
					</p>

				</td>
				<td>
					<img style="margin:20px 0px 10px;"  src="http://commondatastorage.googleapis.com/site-images/mailing/envia.png">
					<strong style="display:block; color:#8b41b3; font-size:20px;">Envia</strong>
					<p>
						Envia a quien quieras el<br/>
 						día que quieras para que <br/>
						otros disfruten de <a href="http://www.giviu.com" style="color:#23a057;">Giviu</a>
					</p>
				</td>
			</tr>
		</table>



		<table border="0" width="750"  cellspacing="0" cellpadding="0"  style="background-color:#fff; border:1px solid #e1e1e1;border-top:none; background-image:url('http://commondatastorage.googleapis.com/site-images/mailing/postal-background.png');background-position:left bottom; background-repeat:repeat-x; padding-top:20px;">
			<tr style="height:10px;">
				<td>
				</td>
			</tr>

		</table>
		<!-- footer -->
		<p style="color:#a1a1a1; font-size:12px;">
		<a href="http://www.giviu.com" style="color:#23a057;">www.giviu.com</a>  |  <a href="http://www.facebook.com/giviuchile" style="color:#23a057;">facebook.com/giviu</a>  | <a href="http://www.twitter.com/giviuchile" style="color:#23a057;">twitter.com/giviu</a>
		</p>
		<small style="color:#a1a1a1; font-size:10px;">Si no quieres recibir mas este correo, haz <a href="http://www.giviu.com" style="color:#23a057;">click aquí</a></small>
	</center>
</div>
</body>
</html>
