
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>correo template</title>
<body>
<div style="background-color:#f8f8f8; padding:10px 0px; margin:0px; width:100%; display:block; text-align:center; font-family: Helvetica, arial, sans-saerif;">
	<center>
		<table border="0" width="750"  cellspacing="0" cellpadding="0"  style="background-color:#fff; border:1px solid #e1e1e1;border-bottom:none;">
			<thead style="background-image:url('http://commondatastorage.googleapis.com/site-images/mailing/postal-background.png'); background-repeat:repeat-x;">
				<tr>
					<td>
						<a href="http://www.giviu.com" style="margin:none; text-decoration:none; margin:20px 10px; float:left;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/logo.png"></a>
					</td>
					<td style="text-align:right;">
						<a href="http://www.twitter.com/giviuchile" style="margin:none; text-decoration:none; margin:20px 10px 0px 10px; float:right;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/twitter.png"></a>						
						<a href="http://www.facebook.com/giviuchile" style="margin:none; text-decoration:none; margin:20px 0px; float:right;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/facebook.png"></a>
					</td>
				</tr>
			</thead>
		</table>
		<table border="0" width="750"  cellspacing="0" cellpadding="0"  style="background-color:#fff; border:1px solid #e1e1e1; border-bottom:none;">
			<tr>
				<td style="background-color:#23a057; height:108px; text-align:center; color:#fff; background-image:url('{imagePath}background-title.png'); font-size:30px; font-weight:lighter;">
					¡Felicitaciones! has vendido una giftcard
				</td>
			</tr>
			<tr style="text-align:center; color:#807f7f;">
				<td>
					<br>
					<strong style="color:#23a057; font-size:22px">Nombre empresa</strong>
					<p style="font-size:16px; margin:10px 20px">
						Se ha vendido una giftcard del producto <strong>Pulento</strong> con fecha de envio <strong>21/06/2013</strong>
					</p>
					<p style="font-size:16px; margin:10px 20px">
						Para mas información puedes entrar directamente <a href="http://www.giviu.com/merchant" style="color:#23a057;">aquí</a>
					</p>					
				</td>
			</tr>
		</table>
		<!-- footer -->
		<table border="0" width="750"  cellspacing="0" cellpadding="0"  style="background-color:#fff; border:1px solid #e1e1e1;border-top:none; background-image:url('http://commondatastorage.googleapis.com/site-images/mailing/postal-background.png');background-position:left bottom; background-repeat:repeat-x; padding-top:20px;">
			<tr style="height:10px;">
				<td>
				</td>
			</tr>
			
		</table>
		<!-- footer -->
		<p style="color:#a1a1a1; font-size:12px;">
		<a href="http://www.giviu.com" style="color:#23a057;">www.giviu.com</a>  |  <a href="http://www.facebook.com/giviuchile" style="color:#23a057;">facebook.com/giviu</a>  | <a href="http://www.twitter.com/giviuchile" style="color:#23a057;">twitter.com/giviu</a>
		</p>
		<small style="color:#a1a1a1; font-size:10px;">Si no quieres recibir mas este correo, haz <a href="http://www.giviu.com" style="color:#23a057;">click aquí</a></small>
	</center>
</div>
</body>
</html>