<div  style="font-size:12px;">
<table id="mainStructure" width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#ececec;">  

    <!--START TOP NAVIGATION ​LAYOUT-->
  <tr>
    <td valign="top">
      <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="background-color:#ececec;">


      <!-- START CONTAINER NAVIGATION -->
      <tbody><tr>
        <td align="center" valign="top" class="fix-box">
          
          <!-- start top navigation container -->
          <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ececec" style="background-color:#ececec;">
            
            <tbody><tr>
              <td valign="top">
                  

                <!-- start top navigaton -->
                <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">

                  <!-- start space -->
                  <tbody><tr>
                    <td valign="top" height="20">
                    </td>
                  </tr>
                  <!-- end space -->

                  <tr>
                    <td valign="middle">
                    
                    <table align="left" border="0" cellspacing="0" cellpadding="0" class="container2">
                     
                      <tbody>
                        <!-- end space -->

                    </tbody></table>

                    <!--start content nav -->
                    <table border="0" align="right" cellpadding="0" cellspacing="0" class="container2">
                      

                       <!--start call us -->
                      <tbody><tr>
                         <td valign="middle" align="center">
                        
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="clear-align" style="height:100%;">
                          <tbody><tr>
                            <td style="font-size: 13px;  line-height: 18px; color: #a3a2a2;  font-weight:normal; text-align: center; font-family:Arail,Tahoma, Helvetica, Arial, sans-serif;">

                            </td>
                          </tr>
                        </tbody></table>
                        </td>
                      </tr>
                      <!--end call us -->

                    </tbody></table>
                    <!--end content nav -->

                   </td>
                 </tr>

                  <!-- start space -->
                  <tr>
                    <td valign="top" height="20">
                    </td>
                  </tr>
                  <!-- end space -->

               </tbody></table>
               <!-- end top navigaton -->
              </td>
            </tr>
          </tbody></table>
          <!-- end top navigation container -->

        </td>
      </tr>
      

       <!-- END CONTAINER NAVIGATION -->
  
      </tbody></table>
    </td>
  </tr>
   <!--END TOP NAVIGATION ​LAYOUT-->

  

  <!--START IMAGE HEADER LAYOUT-->

  <tr>
    <td valign="top" class="fix-box">
      <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color:#ececec;">


      <tbody><tr>
        <td class="full-width" width="100%" align="center" valign="top">
          <!-- start header container -->  
          <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color:#ffffff; ">

            <tbody><tr>
              <td valign="top" align="center">

                <a href="#" style="text-decoration: none;">
                  <img class="image-100-percent" src="http://commondatastorage.googleapis.com/site-images%2Fmailing%2Fheader_mailing_.png" width="600" alt="image_header_600x300" style="max-width:600px display:block; " border="0" hspace="0" vspace="0"></img>  
                </a>
              </td>
            </tr>

          </tbody></table>
          <!-- end header container --> 
        </td>
      </tr>
    </tbody></table>
  </td>
</tr>
<!--END IMAGE HEADER LAYOUT-->  

<!-- START SHADOW-->  
       <tr>
        <td width="100%" align="center" valign="top" class="fix-box">
         
          <table width="600" height="11" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color: #ffffff;">
           
            <tbody><tr>
              <td valign="top" height="11" align="center">

                  <img class="image-100-percent" src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/shadow.png" width="596" alt="shadow" style="max-height:11px; max-width:600px; display:block; "></img>  
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
  <!-- END SHADOW --> 

 <!-- START LAYOUT 1 --> 

 <tr>
   <td align="center" valign="top" class="fix-box">

     <!-- start layout-1 container width 600px --> 
     <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: #ffffff;">

      
       <tbody><tr>
         <td valign="top">

           <!-- start layout-1 container width 560px --> 
           <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">

             <!--start space height --> 
             <tbody><tr>
               <td height="20"></td>
             </tr>
             <!--end space height --> 


             <!-- start text content --> 
             <tr>
               <td valign="top">
                 <table border="0" cellspacing="0" cellpadding="0" align="left">
                   <tbody><tr>
                     <td style=" font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#555555; font-weight:300; text-align:center;">
                       <span style="color: #555555; font-weight:300;">
                         <a href="#" style="text-decoration: none; color: rgb(85, 85, 85); font-weight: 300;">
                           Bienvenido <span style="color: #27ae60; font-weight: 300;">{{ name }}</span>
                         </a>
                       </span>
                     </td>
                   </tr>

                   <!--start space height --> 
                   <tr>
                     <td height="15"></td>
                   </tr>
                   <!--end space height --> 

                   <tr>
                     <td style="font-size: 14px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#a3a2a2; font-weight:normal; text-align:center; ">
                         Te damos la mas cordial bienvenida a Giviu, con nosotros podrás encontrar una gran variedad de giftcards y regalos originales para sorprender a quien quieras.
                         <br/>
                         <br/>
                         Valida tu correo electrónico ingresando al siguiente enlace:
                         <br/>
                         <a href="{{ activation_url }}">{{ activation_url }}</a>

                     </td>
                   </tr>
                 </tbody></table>
               </td>
             </tr>
             <!-- end text content --> 



             <!--start space height --> 
             <tr>
               <td height="20"></td>
             </tr>
             <!--end space height -->


           </tbody></table>
           <!-- end layout-1 container width 560px --> 
         </td>
       </tr>


     </tbody></table>
     <!-- end layout-1 container width 600px --> 
   </td>
 </tr>

<!-- END LAYOUT 1 -->



  <!-- START SHADOW-->  
       <tr>
        <td width="100%" align="center" valign="top" class="fix-box">
         
          <table width="600" height="11" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color: #ffffff;">
           
            <tbody><tr>
              <td valign="top" height="11" align="center">

                  <img class="image-100-percent" src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/shadow.png" width="596" alt="shadow" style="max-height:11px; max-width:600px; display:block; "></img>  
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
  <!-- END SHADOW --> 

 <!--START ICON SOCAIL -->
  <tr>
    <td align="center" valign="top" class="fix-box">
      
      <!-- start container 600 -->
      <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #ffffff; ">
        <tbody><tr>
          <td valign="top">

            <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color: #ffffff; ">
            <!-- start space -->
            <tbody><tr>
              <td valign="top" height="10">
              </td>
            </tr>
            <!-- end space -->
              <tr>
                <td valign="top">
                  
                  <!-- start container -->
                  <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">

                    <tbody><tr>
                      <td valign="top">
                      
              

                      <!--start icon socail -->
                      <table border="0" align="center" cellpadding="0" cellspacing="0" class="container2">
           
                        <tbody><tr>
                         <td valign="top" align="center">

                          <table border="0" align="center" cellpadding="0" cellspacing="0" class="container">
                            <tbody><tr>
                                <td align="center" valign="middle" id="clear-padding">
                                <a href="http://www.facebook.com/giviuchile" style="text-decoration: none;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/icon-facebook-gray.png" width="30" alt="icon-facebook" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                              </td>
                              <td  align="center" valign="middle" id="clear-padding">
                                <a href="http://www.twitter.com/giviuchile" style="text-decoration: none;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/icon-twitter-gray.png" width="30" alt="icon-twitter" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                              </td>
                            </tr>
                          </tbody></table>

                          </td>
                        </tr>
                      </tbody></table>
                      <!--end icon socail -->

                     </td>
                   </tr>
                 </tbody></table>
                 <!-- end container  -->
                </td>
              </tr>

                <!-- start space -->
                <tr>
                  <td valign="top" height="10">
                  </td>
                </tr>
                <!-- end space -->

               <!-- start space -->
              <tr>
                <td valign="top" class="increase-Height">
                </td>
              </tr>
              <!-- end space -->

            </tbody></table>
            <!-- end container 600-->
          </td>
        </tr>
      </tbody></table>

    </td>
  </tr>
   <!--END ICON SOCAIL--> 



     


<!-- START SHADOW-->  
       <tr>
        <td width="100%" align="center" valign="top" class="fix-box">
         
          <table width="600" height="11" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color: #ececec;">
           
            <tbody><tr>
              <td valign="top" height="11" align="center">

                  <img class="image-100-percent" src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/shadow.png" width="596" alt="shadow" style="max-height:11px; max-width:600px; display:block; "></img>  
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
  <!-- END SHADOW --> 


  
 


    <!--START FOOTER LAYOUT-->
  <tr>
    <td valign="top">
      <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">


      <!-- START CONTAINER  -->
      <tbody><tr>
        <td align="center" valign="top" class="fix-box">
          
          <!-- start footer container -->
          <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container">
            
            <tbody><tr>
              <td valign="top">
                  

                <!-- start footer -->
                <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">

                    <!-- start space -->
                  <tbody><tr>
                    <td valign="top" height="20">
                    </td>
                  </tr>
                  <!-- end space -->

                

                  <tr>
                    <td valign="middle">
                    
                    <table align="left" border="0" cellspacing="0" cellpadding="0" class="container2">
                     
                      <tbody><tr>
                        <td align="center" valign="top">
                           <a href="#" style="text-decoration: none;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/logo.png" width="137" style="max-width:137px;" alt="Logo" border="0" hspace="0" vspace="0"></img></a>
                        </td>
                      
                      </tr>

                        <!-- start space -->
                        <tr>
                          <td valign="top" class="increase-Height-20">
                          </td>
                        </tr>
                        <!-- end space -->

                    </tbody></table>

                    <!--start content nav -->
                    <table border="0" align="right" cellpadding="0" cellspacing="0" class="container2">
                      

                       <!--start call us -->
                      <tbody><tr>
                         <td valign="middle" align="center">
                        
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="clear-align" style="height:100%;">
                          <tbody><tr>
                            <td style="font-size: 13px;  line-height: 18px; color: #f05e5e;  font-weight:normal; text-align: center; font-family:Arail,Tahoma, Helvetica, Arial, sans-serif;">

                            </td>
                          </tr>
                        </tbody></table>
                        </td>
                      </tr>
                      <!--end call us -->

                    </tbody></table>
                    <!--end content nav -->

                   </td>
                 </tr>

                  <!-- start space -->
                  <tr>
                    <td valign="top" height="20">
                    </td>
                  </tr>
                  <!-- end space -->

               </tbody></table>
               <!-- end footer -->
              </td>
            </tr>
          </tbody></table>
          <!-- end footer container -->

        </td>
      </tr>
      

       <!-- END CONTAINER  -->
  
      </tbody></table>
    </td>
  </tr>
   <!--END FOOTER ​LAYOUT-->



  

 <!--  START FOOTER COPY RIGHT -->    


<tr>
  <td align="center" valign="top" class="fix-box" style="background-color: #27ae60;">
    <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #27ae60;">
      <tbody><tr>
        <td valign="top">
          <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #27ae60;">

              <!--start space height -->                      
              <tbody><tr>
                <td height="10"></td>
              </tr>
              <!--end space height --> 

            <tr>
              <!-- start COPY RIGHT content -->  
              <td valign="top" style="font-size: 13px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#ffffff; font-weight:normal; text-align:center; ">
              </td>
              <!-- end COPY RIGHT content --> 
            </tr>

              <!--start space height -->                      
              <tr>
                <td height="10"></td>
              </tr>
              <!--end space height --> 


          </tbody></table>
        </td>
      </tr>
    </tbody></table>
  </td>
</tr>
<!--  END FOOTER COPY RIGHT -->

</table></div>