<div  style="font-size:12px;">
<table id="mainStructure" width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#ececec;">  

   <!--START VIEW ONLINE AND ICON SOCAIL -->
  <tr>
    <td align="center" valign="top" style="background-color: #27ae60;">
      
      <!-- start container 600 -->
      <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#f05e5e" style="background-color: #27ae60;">
        <tbody><tr>
          <td valign="top">

            <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#f05e5e" style="background-color: #27ae60;">
            <!-- start space -->
            <tbody><tr>
              <td valign="top" height="10">
              </td>
            </tr>
            <!-- end space -->
              <tr>
                <td valign="top">
                  
                  <!-- start container -->
                  <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">

                    <tbody><tr>
                      <td valign="top">
                      
                      <!-- start view online -->
                      <table align="left" border="0" cellspacing="0" cellpadding="0" class="container2">
                       <tbody><tr>
                        <td>
                          <table align="center" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td style="font-size: 12px; line-height: 27px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#ffffff; font-weight:normal; text-align:center;">
                                  <span style="text-decoration: none; color: #ffffff;"><span href="#" style="text-decoration: none; color: rgb(255, 255, 255);">Revisa nuestras redes sociales</span></span>
                              </td>
                                 <td style="padding-left:5px;" align="left" valign="middle">
                                    <img src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/arrow1.png" width="10" alt="arrow1" style="max-width:10px; diaplay:block;" border="0" hspace="0" vspace="0"></img>
                                </td>
                            </tr>
                          </tbody></table>
                        </td>
                      </tr>
                        <!-- start space -->
                        <tr>
                          <td valign="top" class="increase-Height">
                          </td>
                        </tr>
                        <!-- end space -->
                      </tbody></table>
                      <!-- end view online -->

                      <!--start icon socail -->
                      <table border="0" align="right" cellpadding="0" cellspacing="0" class="container2">
           
                        <tbody><tr>
                         <td valign="top" align="center">

                          <table border="0" align="center" cellpadding="0" cellspacing="0" class="container">
                            <tbody>
                              <tr>
                                <td align="center" valign="middle" id="clear-padding">
                                <a href="http://www.facebook.com/giviuchile" style="text-decoration: none;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/icon-facebook.png" width="30" alt="icon-facebook" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                              </td>
                              <td s="" align="center" valign="middle" id="clear-padding">
                                <a href="http://www.twitter.com/giviuchile" style="text-decoration: none;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/icon-twitter.png" width="30" alt="icon-twitter" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                              </td>
                            </tr>
                          </tbody></table>

                          </td>
                        </tr>
                      </tbody></table>
                      <!--end icon socail -->

                     </td>
                   </tr>
                 </tbody></table>
                 <!-- end container  -->
                </td>
              </tr>

                <!-- start space -->
                <tr>
                  <td valign="top" height="10">
                  </td>
                </tr>
                <!-- end space -->

               <!-- start space -->
              <tr>
                <td valign="top" class="increase-Height">
                </td>
              </tr>
              <!-- end space -->

            </tbody></table>
            <!-- end container 600-->
          </td>
        </tr>
      </tbody></table>

    </td>
  </tr>
   <!--END VIEW ONLINE AND ICON SOCAIL-->

     



    <!--START TOP NAVIGATION ​LAYOUT-->
  <tr>
    <td valign="top">
      <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="background-color:#ececec;">


      <!-- START CONTAINER NAVIGATION -->
      <tbody><tr>
        <td align="center" valign="top" class="fix-box">
          
          <!-- start top navigation container -->
          <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ececec" style="background-color:#ececec;">
            
            <tbody><tr>
              <td valign="top">
                  

                <!-- start top navigaton -->
                <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">

                  <!-- start space -->
                  <tbody><tr>
                    <td valign="top" height="20">
                    </td>
                  </tr>
                  <!-- end space -->

                  <tr>
                    <td valign="middle">
                    
                    <table align="left" border="0" cellspacing="0" cellpadding="0" class="container2">
                     
                      <tbody>
                        <!-- end space -->

                    </tbody></table>

                    <!--start content nav -->
                    <table border="0" align="right" cellpadding="0" cellspacing="0" class="container2">
                      

                       <!--start call us -->
                      <tbody><tr>
                         <td valign="middle" align="center">
                        
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="clear-align" style="height:100%;">
                          <tbody><tr>
                            <td style="font-size: 13px;  line-height: 18px; color: #a3a2a2;  font-weight:normal; text-align: center; font-family:Arail,Tahoma, Helvetica, Arial, sans-serif;">

                            </td>
                          </tr>
                        </tbody></table>
                        </td>
                      </tr>
                      <!--end call us -->

                    </tbody></table>
                    <!--end content nav -->

                   </td>
                 </tr>

                  <!-- start space -->
                  <tr>
                    <td valign="top" height="20">
                    </td>
                  </tr>
                  <!-- end space -->

               </tbody></table>
               <!-- end top navigaton -->
              </td>
            </tr>
          </tbody></table>
          <!-- end top navigation container -->

        </td>
      </tr>
      

       <!-- END CONTAINER NAVIGATION -->
  
      </tbody></table>
    </td>
  </tr>
   <!--END TOP NAVIGATION ​LAYOUT-->

  

  <!--START IMAGE HEADER LAYOUT-->

  <tr>
    <td valign="top" class="fix-box">
      <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color:#ececec;">


      <tbody><tr>
        <td class="full-width" width="100%" align="center" valign="top">
          <!-- start header container -->  
          <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color:#ffffff; ">

            <tbody><tr>
              <td valign="top" align="center">

                <a href="#" style="text-decoration: none;">
                  <img class="image-100-percent" src="{{ giftcard_design }}" width="600" alt="image_header_600x300" style="max-width:600px display:block; " border="0" hspace="0" vspace="0"></img>  
                </a>
              </td>
            </tr>

          </tbody></table>
          <!-- end header container --> 
        </td>
      </tr>
    </tbody></table>
  </td>
</tr>
<!--END IMAGE HEADER LAYOUT-->  

<!-- START SHADOW-->  
       <tr>
        <td width="100%" align="center" valign="top" class="fix-box">
         
          <table width="600" height="11" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color: #ffffff;">
           
            <tbody><tr>
              <td valign="top" height="11" align="center">

                  <img class="image-100-percent" src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/shadow.png" width="596" alt="shadow" style="max-height:11px; max-width:600px; display:block; "></img>  
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
  <!-- END SHADOW --> 

 <!-- START LAYOUT 1 --> 

 <tr>
   <td align="center" valign="top" class="fix-box">

     <!-- start layout-1 container width 600px --> 
     <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: #ffffff;">

      
       <tbody><tr>
         <td valign="top">

           <!-- start layout-1 container width 560px --> 
           <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">

             <!--start space height --> 
             <tbody><tr>
               <td height="20"></td>
             </tr>
             <!--end space height --> 


             <!-- start text content --> 
             <tr>
               <td valign="top">
                 <table border="0" cellspacing="0" cellpadding="0" align="left" style="width:100%;">
                   <tbody><tr>
                     <td style=" font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#555555; font-weight:300; text-align:center;">
                       <span style="color: #555555; font-weight:300;">
                         <a href="#" style="text-decoration: none; color: rgb(85, 85, 85); font-weight: 300;">
                           <span style="color: #27ae60; font-weight: 300;">{{ name_from }}</span> te ha enviado una giftcard
                         </a>
                       </span>
                     </td>
                   </tr>

                   <!--start space height --> 
                   <tr>
                     <td height="15"></td>
                   </tr>
                   <!--end space height --> 

                   <tr>
                     <td style="font-size: 14px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#a3a2a2; font-weight:normal; text-align:center; ">
                      {{ description }}
                     </td>
                   </tr>

                  <!--start space height --> 
                   <tr>
                     <td height="20"></td>
                   </tr>
                   <!--end space height -->

                   <tr>
                     <td valign="top" width="auto" align="center">
                       <!-- start button -->                         
                       <table border="0" align="center" cellpadding="0" cellspacing="0">
                         <tbody><tr>
                           <td width="auto" align="center" valign="middle" height="32" style="background-color: #efefef; border-top-left-radius: 18px; border-top-right-radius: 18px; border-bottom-right-radius: 18px; border-bottom-left-radius: 18px; background-clip: padding-box; font-size: 16px; font-family: Arial, Tahoma, Helvetica, sans-serif; text-align: center; color: rgb(255, 255, 255); font-weight: normal; padding-left: 18px; padding-right: 18px;">

                             <span style="color: #ffffff; font-weight: normal;">
                               <span style="text-decoration: none; color: #999; font-weight: normal;">
                                Código de tu giftcard: <strong>{{ validation_code }}</strong>
                               </span>
                             </span>
                           </td>

                           <!-- start space width -->
                            <td valign="top">
                              <table width="10" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tbody><tr>
                                  <td valign="top">
                                    &nbsp;
                                  </td>
                                </tr>
                              </tbody></table>
                            </td>
                            <!--end space width -->

                         </tr>
                       </tbody></table>
                       <!-- end button -->   
                      </td>

                   </tr>

                 </tbody></table>
               </td>
             </tr>
             <!-- end text content --> 



             <!--start space height --> 
             <tr>
               <td height="20"></td>
             </tr>
             <!--end space height -->


           </tbody></table>
           <!-- end layout-1 container width 560px --> 
         </td>
       </tr>


     </tbody></table>
     <!-- end layout-1 container width 600px --> 
   </td>
 </tr>

<!-- END LAYOUT 1 -->

<!-- START SHADOW-->  
       <tr>
        <td width="100%" align="center" valign="top" class="fix-box">
         
          <table width="600" height="11" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color: #ffffff;">
           
            <tbody><tr>
              <td valign="top" height="11" align="center">

                  <img class="image-100-percent" src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/shadow.png" width="596" alt="shadow" style="max-height:11px; max-width:600px; display:block; "></img>  
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
  <!-- END SHADOW --> 

 <!-- START LAYOUT-6 --> 

 <tr>
   <td align="center" valign="top" class="fix-box">

     <!-- start layout-6 container width 600px --> 
     <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: #ffffff; ">
       <tbody><tr>
         <td valign="top">

           <!-- start layout-6 container width 560px --> 
           <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">


             <!--start space height --> 
             <tbody><tr>
               <td height="20"></td>
             </tr>
             <!--end space height --> 

             <!-- start image content --> 
             <tr>
               <td valign="top" width="100%">

                                    

                 <!-- start content left --> 
                 <table width="270" border="0" cellspacing="0" cellpadding="0" align="left" class="full-width">

                  <tbody><tr>
                     <td valign="top">

                       <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
                         <tbody><tr>
                            
                          <td valign="top" align="left">
                             <a href="https://www.giviu.com/product/show/{{ product_code }}" style="text-decoration: none;">
                               <img class="image-100-percent" src="{{ giftcard_image }}" width="270" alt="image11_270x146" style="display:block; max-width:270px; " border="0" hspace="0" vspace="0"></img> 
                             </a>
                           </td>
                        
        
                         </tr>
                       </tbody></table>

                     </td>
                   </tr>

                   <!--start space height --> 
                   <tr>
                     <td height="20"></td>
                   </tr>
                   <!--end space height --> 


                 </tbody></table>
                 <!-- end content left --> 


                  <!-- start space width --> 
                 <table class="remove" width="1" border="0" cellpadding="0" cellspacing="0" align="left" style="font-size: 0;line-height: 0;border-collapse: collapse;">
                   <tbody><tr>
                     <td width="0" height="2" style="font-size: 0;line-height: 0;border-collapse: collapse;">
                       <p style="padding-left: 20px;">&nbsp;</p>
                     </td>
                   </tr>
                 </tbody></table>
                 <!-- end space width --> 



                   <!-- start content left --> 
                 <table width="270" border="0" cellspacing="0" cellpadding="0" align="right" class="full-width">
                   

                   <!-- start text content -->                       
                   <tbody><tr>
                     <td valign="top">
                       <table border="0" cellspacing="0" cellpadding="0" align="left">
                         <tbody><tr>
                           <td style=" font-size: 20px; line-height: 18px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#555555; font-weight:300; text-align:left;">
                             <span style="color: #555555; font-weight: 300;">
                               <a href="https://www.giviu.com/product/show/{{ product_code }}" style="text-decoration: none; color: rgb(85, 85, 85); font-weight: 300;">{{ merchant_name }}</a>
                             </span>
                           </td>
                         </tr>

                         <!--start space height -->                       
                         <tr>
                           <td height="15"></td>
                         </tr>
                         <!--end space height -->                       

                         <tr>
                           <td style="font-size: 20px; line-height: 20px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#a3a2a2; font-weight:normal; text-align:left; ">
                            {% if giftcard_amount %}
                              <span style="font-size: 20px;">{{ giftcard_amount }} en </span>
                              {% endif %} 
                            {{ giftcard_name }} <br/>
                           </td>
                         </tr>

                         <!--start space height -->                       
                         <tr>
                           <td height="15"></td>
                         </tr>
                         <!--end space height -->                       

                         <tr>
                           <td valign="top" width="auto">
                             <!-- start button -->                         
                             <table border="0" align="left" cellpadding="0" cellspacing="0">
                               <tbody><tr>
                                 <td width="auto" align="center" valign="middle" height="32" style="background-color: #27ae60; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; background-clip: padding-box; font-size: 13px; font-family: Arial, Tahoma, Helvetica, sans-serif; text-align: center; color: rgb(255, 255, 255); font-weight: normal; padding-left: 18px; padding-right: 18px;">

                                   <span style="color: #ffffff; font-weight: normal;">
                                     <a href="https://www.giviu.com/product/show/{{ product_code }}" style="text-decoration: none; color: rgb(255, 255, 255); font-weight: normal;">
                                       <singleline>Ver mas info</singleline>
                                     </a>
                                   </span>
                                 </td>
                               </tr>
                             </tbody></table>
                             <!-- end button -->

                            <!-- start space width -->          
                            <table width="10" border="0" cellpadding="0" cellspacing="0" align="left" style=" font-size: 0;line-height: 0;border-collapse: collapse;">
                              <tbody><tr>
                                <td width="10" height="2" style="font-size: 0;line-height: 0;border-collapse: collapse;">
                                  <p style="padding-left: 10px;"></p>
                                </td>
                              </tr>
                            </tbody></table>
                            <!-- end space width-->   

                             
                            </td>

                         </tr>

                         <!--start space height -->                       
                         <tr>
                           <td height="20"></td>
                         </tr>
                         <!--end space height --> 
                       </tbody></table>
                     </td>
                   </tr>
                   <!-- end text content --> 
                 </tbody></table>
                 <!-- end content left -->   


               </td>
             </tr>
             <!-- end image content --> 
            
           </tbody></table>
           <!-- end layout-6 container width 560px --> 
         </td>
       </tr>
     </tbody></table>
     <!-- end layout-6 container width 600px --> 
   </td>
 </tr>
 <!-- END LAYOUT-6  -->

  <!-- START SHADOW-->  
       <tr>
        <td width="100%" align="center" valign="top" class="fix-box">
         
          <table width="600" height="11" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color: #ffffff;">
           
            <tbody><tr>
              <td valign="top" height="11" align="center">

                  <img class="image-100-percent" src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/shadow.png" width="596" alt="shadow" style="max-height:11px; max-width:600px; display:block; "></img>  
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
  <!-- END SHADOW --> 


 <!-- START LAYOUT 1 --> 

 <tr>
   <td align="center" valign="top" class="fix-box">

     <!-- start layout-1 container width 600px --> 
     <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: #ffffff;">

      
       <tbody><tr>
         <td valign="top">

           <!-- start layout-1 container width 560px --> 
           <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">

             <!--start space height --> 
             <tbody><tr>
               <td height="20"></td>
             </tr>
             <!--end space height --> 


             <!-- start text content --> 
             <tr>
               <td valign="top">
                 <table border="0" cellspacing="0" cellpadding="0" align="left" width="100%">
                   <tbody><tr>
                     <td style=" font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#555555; font-weight:300; text-align:center;">
                       <span style="color: #555555; font-weight:300;">
                         <a href="#" style="text-decoration: none; color: rgb(85, 85, 85); font-weight: 300;">
                           <span style="color: #27ae60; font-weight: 300;">Como validar tu giftcard</span>
                         </a>
                       </span>
                     </td>
                   </tr>

                   <!--start space height --> 
                   <tr>
                     <td height="15"></td>
                   </tr>
                   <!--end space height --> 

                   <tr>
                     <td style="font-size: 14px; width:100%; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#a3a2a2; font-weight:normal; text-align:center; ">
                        {{ validation_info|safe }}
                     </td>
                   </tr>

                  <!--start space height --> 
                   <tr>
                     <td height="20"></td>
                   </tr>
                   <!--end space height -->

                   <tr>
                     <td valign="top" width="auto" align="center">
                       <!-- start button -->                         
                       <table border="0" align="center" cellpadding="0" cellspacing="0">
                         <tbody><tr>
                          
                            <!--end space width -->

                         </tr>
                       </tbody></table>
                       <!-- end button -->   
                      </td>

                   </tr>

                 </tbody></table>
               </td>
             </tr>
             <!-- end text content --> 



             <!--start space height --> 
             <tr>
               <td height="20"></td>
             </tr>
             <!--end space height -->


           </tbody></table>
           <!-- end layout-1 container width 560px --> 
         </td>
       </tr>


     </tbody></table>
     <!-- end layout-1 container width 600px --> 
   </td>
 </tr>

<!-- END LAYOUT 1 -->


 <!--START ICON SOCAIL -->
  <tr>
    <td align="center" valign="top" class="fix-box">
      
      <!-- start container 600 -->
      <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #ffffff; ">
        <tbody><tr>
          <td valign="top">

            <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color: #ffffff; ">
            <!-- start space -->
            <tbody><tr>
              <td valign="top" height="10">
              </td>
            </tr>
            <!-- end space -->
              <tr>
                <td valign="top">
                  
                  <!-- start container -->
                  <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">

                    <tbody><tr>
                      <td valign="top">
                      
              

                      <!--start icon socail -->
                      <table border="0" align="center" cellpadding="0" cellspacing="0" class="container2">
           
                        <tbody><tr>
                         <td valign="top" align="center">

                          <table border="0" align="center" cellpadding="0" cellspacing="0" class="container">
                            <tbody><tr>
                                <td align="center" valign="middle" id="clear-padding">
                                <a href="http://www.facebook.com/giviuchile" style="text-decoration: none;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/icon-facebook-gray.png" width="30" alt="icon-facebook" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                              </td>
                              <td  align="center" valign="middle" id="clear-padding">
                                <a href="http://www.twitter.com/giviuchile" style="text-decoration: none;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/icon-twitter-gray.png" width="30" alt="icon-twitter" style="max-width:30px;" border="0" hspace="0" vspace="0"></img></a>
                              </td>
                            </tr>
                          </tbody></table>

                          </td>
                        </tr>
                      </tbody></table>
                      <!--end icon socail -->

                     </td>
                   </tr>
                 </tbody></table>
                 <!-- end container  -->
                </td>
              </tr>

                <!-- start space -->
                <tr>
                  <td valign="top" height="10">
                  </td>
                </tr>
                <!-- end space -->

               <!-- start space -->
              <tr>
                <td valign="top" class="increase-Height">
                </td>
              </tr>
              <!-- end space -->

            </tbody></table>
            <!-- end container 600-->
          </td>
        </tr>
      </tbody></table>

    </td>
  </tr>
   <!--END ICON SOCAIL--> 



     


<!-- START SHADOW-->  
       <tr>
        <td width="100%" align="center" valign="top" class="fix-box">
         
          <table width="600" height="11" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color: #ececec;">
           
            <tbody><tr>
              <td valign="top" height="11" align="center">

                  <img class="image-100-percent" src="http://commondatastorage.googleapis.com/site-images/mailing/new-template/shadow.png" width="596" alt="shadow" style="max-height:11px; max-width:600px; display:block; "></img>  
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
  <!-- END SHADOW --> 


  
 


    <!--START FOOTER LAYOUT-->
  <tr>
    <td valign="top">
      <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">


      <!-- START CONTAINER  -->
      <tbody><tr>
        <td align="center" valign="top" class="fix-box">
          
          <!-- start footer container -->
          <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container">
            
            <tbody><tr>
              <td valign="top">
                  

                <!-- start footer -->
                <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">

                    <!-- start space -->
                  <tbody><tr>
                    <td valign="top" height="20">
                    </td>
                  </tr>
                  <!-- end space -->

                

                  <tr>
                    <td valign="middle">
                    
                    <table align="left" border="0" cellspacing="0" cellpadding="0" class="container2">
                     
                      <tbody><tr>
                        <td align="center" valign="top">
                           <a href="#" style="text-decoration: none;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/logo.png" width="137" style="max-width:137px;" alt="Logo" border="0" hspace="0" vspace="0"></img></a>
                        </td>
                      
                      </tr>

                        <!-- start space -->
                        <tr>
                          <td valign="top" class="increase-Height-20">
                          </td>
                        </tr>
                        <!-- end space -->

                    </tbody></table>

                    <!--start content nav -->
                    <table border="0" align="right" cellpadding="0" cellspacing="0" class="container2">
                      

                       <!--start call us -->
                      <tbody><tr>
                         <td valign="middle" align="center">
                        
                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="clear-align" style="height:100%;">
                          <tbody><tr>
                            <td style="font-size: 13px;  line-height: 18px; color: #f05e5e;  font-weight:normal; text-align: center; font-family:Arail,Tahoma, Helvetica, Arial, sans-serif;">

                            </td>
                          </tr>
                        </tbody></table>
                        </td>
                      </tr>
                      <!--end call us -->

                    </tbody></table>
                    <!--end content nav -->

                   </td>
                 </tr>

                  <!-- start space -->
                  <tr>
                    <td valign="top" height="20">
                    </td>
                  </tr>
                  <!-- end space -->

               </tbody></table>
               <!-- end footer -->
              </td>
            </tr>
          </tbody></table>
          <!-- end footer container -->

        </td>
      </tr>
      

       <!-- END CONTAINER  -->
  
      </tbody></table>
    </td>
  </tr>
   <!--END FOOTER ​LAYOUT-->



  

 <!--  START FOOTER COPY RIGHT -->    


<tr>
  <td align="center" valign="top" class="fix-box" style="background-color: #27ae60;">
    <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #27ae60;">
      <tbody><tr>
        <td valign="top">
          <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #27ae60;">

              <!--start space height -->                      
              <tbody><tr>
                <td height="10"></td>
              </tr>
              <!--end space height --> 

            <tr>
              <!-- start COPY RIGHT content -->  
              <td valign="top" style="font-size: 13px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#ffffff; font-weight:normal; text-align:center; ">
              </td>
              <!-- end COPY RIGHT content --> 
            </tr>

              <!--start space height -->                      
              <tr>
                <td height="10"></td>
              </tr>
              <!--end space height --> 


          </tbody></table>
        </td>
      </tr>
    </tbody></table>
  </td>
</tr>
<!--  END FOOTER COPY RIGHT -->

</table>
</div>
