
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>correo template</title>
<body>
<div style="background-color:#f8f8f8; padding:10px 0px; margin:0px; width:100%; display:block; text-align:center; font-family: Helvetica, arial, sans-saerif;">
	<center>
		<table border="0" width="750"  cellspacing="0" cellpadding="0"  style="background-color:#fff; border:1px solid #e1e1e1;border-bottom:none;">
			<thead style="background-image:url('http://commondatastorage.googleapis.com/site-images/mailing/postal-background.png'); background-repeat:repeat-x;">
				<tr>
					<td>
						<a href="http://www.giviu.com" style="margin:none; text-decoration:none; margin:20px 10px; float:left;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/logo.png"></a>
					</td>
					<td style="text-align:right;">
						<a href="http://www.twitter.com/giviuchile" style="margin:none; text-decoration:none; margin:20px 10px 0px 10px; float:right;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/twitter.png"></a>						
						<a href="http://www.facebook.com/giviuchile" style="margin:none; text-decoration:none; margin:20px 0px; float:right;"><img src="http://commondatastorage.googleapis.com/site-images/mailing/facebook.png"></a>
					</td>
				</tr>
			</thead>
		</table>
		<table border="0" width="750"  cellspacing="0" cellpadding="0"  style="background-color:#fff; border:1px solid #e1e1e1; border-bottom:none;">
			<tr>
				<td style="background-color:#23a057; height:30px; text-align:center; color:#fff; background-image:url('http://commondatastorage.googleapis.com/site-images/mailing/background-title.png'); font-size:20px; font-weight:lighter;">
					Cumpleaños de Agosto
				</td>
			</tr>
		</table>

		<table border="0" width="750"  cellspacing="0" cellpadding="0"  style="background-color:#fff; border:1px solid #e1e1e1; border-bottom:none;">

<!-- Regalos -->
			<tr style="">
				<td style="width:25%; padding:10px 0px 10px 30px;  background-image:url('http://commondatastorage.googleapis.com/site-images/mailing/indicador.png'); background-position:right top; background-repeat:no-repeat; border-bottom:1px dotted #ccc;" valign="top">					
				<!-- user-info-->
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td style="border:1px solid #efefef; background-color:#efefef;">
								<a href="http://giviu.com/giftcard/show/{giftcardHash}" title="Ver giftcard" alt="Ver giftcard" style="border:none; text-decoration:none;">
									<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c90.0.437.437/1375212_10152007226253413_120981818_n.jpg" alt="Giftcard" title="Giftcard" width="130" style="float:left; margin-left:1px; margin-top:1px;">
								</a>
							<td>							
						</tr>													
						<tr>
							<td style="text-align:center; background-color:#efefef; color:#999; font-size:13px; padding:5px 0px;">								
							
							<td>							
						</tr>
						<tr>
							<td style="text-align:center; background-color:#efefef; color:#999; font-size:14px; padding:5px 0px; border-top:1px dotted #ccc;">
								24/08
							<td>							
						</tr>							
						<tr>
							<td style="text-align:center; font-size:14px; padding:5px 0px;">
								<a href="#" style="color:#23a057; text-decoration:none;">Ver más regalos</a>
							<td>							
						</tr>						
					</table>
					<!-- fin user-info -->

				</td>
				<td  style="width:80%; color:#807f7f;">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td style="border-bottom:1px dotted #ccc; padding:10px;">
								<img src="http://www.cristinaaravena.cl/wp-content/themes/cristiaravena/resize.php?src=http://www.cristinaaravena.cl/wp-content/files_mf/13624280132.jpg&h=110&w=150" style="width:150px;  height:110px; float:left; margin-right:15px;">
								<strong style="font-size:20px;">
									Regala un masaje de relajación
								</strong>
								<p style="font-size:14px;">Regala a quien quieras una sesion de relajacion para convertir este, en un dia especial</p>
								<strong style="font-size:25px; color:#23a057;">
									$30.000
								</strong>
								<a href="#" style="float:right; text-decoration:none; border:none;color:#fff; padding:10px; background-color:#23a057;">Regalar</a>
							<td>														
						</tr>	
						<tr>
							<td style="border-bottom:1px dotted #ccc; padding:10px;">
								<img src="http://www.cristinaaravena.cl/wp-content/themes/cristiaravena/resize.php?src=http://www.cristinaaravena.cl/wp-content/files_mf/13624280132.jpg&h=110&w=150" style="width:150px;  height:110px; float:left; margin-right:15px;">
								<strong style="font-size:20px;">
									Regala un masaje de relajación
								</strong>
								<p style="font-size:14px;">Regala</p>
								<strong style="font-size:25px; color:#23a057;">
									$30.000
								</strong>
								<a href="#" style="float:right; text-decoration:none; border:none;color:#fff; padding:10px; background-color:#23a057;">Regalar</a>							
							<td>														
						</tr>								
					
					</table>
				</td>
			</tr>			
			<!-- fin Regalos -->

<!-- Regalos -->
			<tr style="">
				<td style="width:25%; padding:10px 0px 10px 30px;  background-image:url('http://commondatastorage.googleapis.com/site-images/mailing/indicador.png'); background-position:right top; background-repeat:no-repeat; border-bottom:1px dotted #ccc;" valign="top">					
				<!-- user-info-->
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td style="border:1px solid #efefef; background-color:#efefef;">
								<a href="http://giviu.com/giftcard/show/{giftcardHash}" title="Ver giftcard" alt="Ver giftcard" style="border:none; text-decoration:none;">
									<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c90.0.437.437/1375212_10152007226253413_120981818_n.jpg" alt="Giftcard" title="Giftcard" width="130" style="float:left; margin-left:1px; margin-top:1px;">
								</a>
							<td>							
						</tr>													
						<tr>
							<td style="text-align:center; background-color:#efefef; color:#999; font-size:13px; padding:5px 0px;">								
							Cristina Aravena
							<td>							
						</tr>
						<tr>
							<td style="text-align:center; background-color:#efefef; color:#999; font-size:14px; padding:5px 0px; border-top:1px dotted #ccc;">
								24/08
							<td>							
						</tr>							
						<tr>
							<td style="text-align:center; font-size:14px; padding:5px 0px;">
								<a href="#" style="color:#23a057; text-decoration:none;">Ver más regalos</a>
							<td>							
						</tr>						
					</table>
					<!-- fin user-info -->

				</td>
				<td  style="width:80%; color:#807f7f;">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td style="border-bottom:1px dotted #ccc; padding:10px;">
								<img src="http://www.cristinaaravena.cl/wp-content/themes/cristiaravena/resize.php?src=http://www.cristinaaravena.cl/wp-content/files_mf/13624280132.jpg&h=110&w=150" style="width:150px;  height:110px; float:left; margin-right:15px;">
								<strong style="font-size:20px;">
									Regala un masaje de relajación
								</strong>
								<p style="font-size:14px;">Regala a quien quieras una sesion de relajacion para convertir este, en un dia especial</p>
								<strong style="font-size:25px; color:#23a057;">
									$30.000
								</strong>
								<a href="#" style="float:right; text-decoration:none; border:none;color:#fff; padding:10px; background-color:#23a057;">Regalar</a>
							<td>														
						</tr>	
						<tr>
							<td style="border-bottom:1px dotted #ccc; padding:10px;">
								<img src="http://www.cristinaaravena.cl/wp-content/themes/cristiaravena/resize.php?src=http://www.cristinaaravena.cl/wp-content/files_mf/13624280132.jpg&h=110&w=150" style="width:150px;  height:110px; float:left; margin-right:15px;">
								<strong style="font-size:20px;">
									Regala un masaje de relajación
								</strong>
								<p style="font-size:14px;">Regala</p>
								<strong style="font-size:25px; color:#23a057;">
									$30.000
								</strong>
								<a href="#" style="float:right; text-decoration:none; border:none;color:#fff; padding:10px; background-color:#23a057;">Regalar</a>							
							<td>														
						</tr>								
					
					</table>
				</td>
			</tr>			
			<!-- fin Regalos -->

<!-- Regalos -->
			<tr style="">
				<td style="width:25%; padding:10px 0px 10px 30px;  background-image:url('http://commondatastorage.googleapis.com/site-images/mailing/indicador.png'); background-position:right top; background-repeat:no-repeat; border-bottom:1px dotted #ccc;" valign="top">					
				<!-- user-info-->
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td style="border:1px solid #efefef; background-color:#efefef;">
								<a href="http://giviu.com/giftcard/show/{giftcardHash}" title="Ver giftcard" alt="Ver giftcard" style="border:none; text-decoration:none;">
									<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c90.0.437.437/1375212_10152007226253413_120981818_n.jpg" alt="Giftcard" title="Giftcard" width="130" style="float:left; margin-left:1px; margin-top:1px;">
								</a>
							<td>							
						</tr>													
						<tr>
							<td style="text-align:center; background-color:#efefef; color:#999; font-size:13px; padding:5px 0px;">								
							Cristina Aravena
							<td>							
						</tr>
						<tr>
							<td style="text-align:center; background-color:#efefef; color:#999; font-size:14px; padding:5px 0px; border-top:1px dotted #ccc;">
								24/08
							<td>							
						</tr>							
						<tr>
							<td style="text-align:center; font-size:14px; padding:5px 0px;">
								<a href="#" style="color:#23a057; text-decoration:none;">Ver más regalos</a>
							<td>							
						</tr>						
					</table>
					<!-- fin user-info -->

				</td>
				<td  style="width:80%; color:#807f7f;">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td style="border-bottom:1px dotted #ccc; padding:10px;">
								<img src="http://www.cristinaaravena.cl/wp-content/themes/cristiaravena/resize.php?src=http://www.cristinaaravena.cl/wp-content/files_mf/13624280132.jpg&h=110&w=150" style="width:150px;  height:110px; float:left; margin-right:15px;">
								<strong style="font-size:20px;">
									Regala un masaje de relajación
								</strong>
								<p style="font-size:14px;">Regala a quien quieras una sesion de relajacion para convertir este, en un dia especial</p>
								<strong style="font-size:25px; color:#23a057;">
									$30.000
								</strong>
								<a href="#" style="float:right; text-decoration:none; border:none;color:#fff; padding:10px; background-color:#23a057;">Regalar</a>
							<td>														
						</tr>	
						<tr>
							<td style="border-bottom:1px dotted #ccc; padding:10px;">
								<img src="http://www.cristinaaravena.cl/wp-content/themes/cristiaravena/resize.php?src=http://www.cristinaaravena.cl/wp-content/files_mf/13624280132.jpg&h=110&w=150" style="width:150px;  height:110px; float:left; margin-right:15px;">
								<strong style="font-size:20px;">
									Regala un masaje de relajación
								</strong>
								<p style="font-size:14px;">Regala</p>
								<strong style="font-size:25px; color:#23a057;">
									$30.000
								</strong>
								<a href="#" style="float:right; text-decoration:none; border:none;color:#fff; padding:10px; background-color:#23a057;">Regalar</a>							
							<td>														
						</tr>								
					
					</table>
				</td>
			</tr>			
			<!-- fin Regalos -->
		</table>

		<!-- categorias especiales -->
		<table border="0" width="750"  cellspacing="0" cellpadding="0"  style="background-color:#fff; border:1px solid #e1e1e1;border-top:none; background-image:url('{imagePath}postal-background.png');background-position:left bottom; background-repeat:repeat-x; padding:20px 0px; text-align:center; ">
			<tr style="height:10px;">
				<td>
					<img src="http://www.gifty.dev:8080/sources/templates/images/febrero.png"/>
				</td>				
				<td>
					<img src="http://www.gifty.dev:8080/sources/templates/images/empresadestacada.png"/>
				</td>				
				<td>
					<img src="http://www.gifty.dev:8080/sources/templates/images/febrero.png"/>
				</td>
			</tr>
		<table border="0" width="750"  cellspacing="0" cellpadding="0"  style="background-color:#fff; border:1px solid #e1e1e1;border-top:none; background-image:url('http://commondatastorage.googleapis.com/site-images/mailing/postal-background.png');background-position:left bottom; background-repeat:repeat-x; padding-top:20px;">
			<tr style="height:10px;">
				<td>
				</td>
			</tr>
			
		</table>
		<!-- footer -->
		<p style="color:#a1a1a1; font-size:12px;">
		<a href="http://www.giviu.com" style="color:#23a057;">www.giviu.com</a>  |  <a href="http://www.facebook.com/giviuchile" style="color:#23a057;">facebook.com/giviu</a>  | <a href="http://www.twitter.com/giviuchile" style="color:#23a057;">twitter.com/giviu</a>
		</p>
		<small style="color:#a1a1a1; font-size:10px;">Si no quieres recibir mas este correo, haz <a href="http://www.giviu.com" style="color:#23a057;">click aquí</a></small>
	</center>
</div>
</body>
</html>