{% extends "base.html" %}
{% block content %}

<section class="container">
  <section class="payment_response">
  	<section class="span3">
  		<center>
  			<span class="icon-lightning ico"></span>
  		</center>
  	</section>  	
  	<section class="span6 col">
  		<h2>¡Douh! Por alguna razón, tu pago falló</h2>
  		<p>Las posibles razones son:</p>
  		<ul>
  			<li>Tu banco no responde.</li>
  			<li>No tienes saldo suficiente en tu cuenta.</li>
  			<li><strong>O lo que nosotros creemos es que justo mientras se cursaba tu pago, hubo una explosion solar que interfirio con el proceso de pago.</strong></li>
  		</ul>
  		<br/>
  		<a href="/" class="btn primary"><span class="icon-smiley"></span> Intentalo nuevamente</a>
  	</section>
  </section>
</section>

{% endblock %}
