{% extends "base.html" %}
{% load locale_price %}
{% block content %}

<section class="container">
  <section class="payment_response">	
  	<section class="span7">
  		<h2>Tu compra  en Giviu ha terminado satisfactoriamente</h2>
  		<h3>Información del producto</h3>
  		<div class="giftcardDetail span9">
  			<figure class="span3">
  				<img src="/static/img/giftcards/birthday.png" class="span9"/>
  			</figure>
  			<div class="span6 col">
  				<ul>
	  				<li><strong class="gift">{{ giftcard. }}Masaje capilar</strong></li>
	  				<li>Giftcard regalada a: <strong>Cristina</strong></li>
  					<li>Al correo: <strong>kristy_aravena@hotmail.com</strong></li>
  					<li>Se enviara el: <strong>03/02/2014</strong></li>
  				</ul>
  			</div>
  		</div>
  		
  		<h3>Información de pago</h3>
  		<div class="giftcardDetail span9">
	  		<ul class="span4">
	  			<li>Metodo de pago: <strong></strong></li>
	  			<li>Monto: <strong></strong></li>
	  			<li>Fecha: <strong>30/12/2013</strong></li>
	  		</ul>	  		
	  		<ul class="span5 col">
	  			<li>Numero de cuotas: <strong></strong></li>
	  			<li>Numero operacion: <strong></strong></li>
	  		</ul>
	  	</div>  

	  	<span class="span9">
	  		 <center>
	  		 	Comparte Giviu<br/>
			  	<a class="social facebook share" href="http://www.facebook.com/sharer.php?u=http://www.giviu.com">
					<span class="icon-facebook"></span>
				</a>                  
				<a class="social twitter share" href="https://twitter.com/intent/tweet?url=http://www.giviu.com&text=Yo ya utilizo Giviu y tu?&via=giviuchile" >
					<span class="icon-twitter"></span>
				</a>                     
				<a class="social google share" href="https://plus.google.com/share?url=http://www.giviu.com">
					<span class="icon-google-plus"></span>
				</a>
	  		</center>

	  	</span>
  	</section>
	
	<aside class="span2 col misGiftCards">
		<h2><span class="icon-question"></span> ¿Necesitas ayuda?</h2>
		<p>Si tienes alguna duda te recomendamos primero revisar nuestra seccion de <a href="#">preguntas frecuentes</a>, si aun tienes dudas contáctate con nosotros al correo <a href="#">soporte@giviu.com</a></p>
	</aside>

  </section>
</section>

{% endblock %}



