{% extends "base_merchant.html" %}
{% load locale_price %}
{% block content %}
<div id="content">

  <div id="content-header">
    <h1><i class="fa fa-dashboard"></i> Inicio</h1>
  </div> <!-- #content-header -->
  <div id="content-container">
    <!-- validar giftcard
         <form id="support-search" class="form">
           <div class="form-group">
             <div class="input-group">
               <input id="support-search-field" type="text" class="form-control input-lg" name="search" placeholder="Ingresa aquí el código de la giftcard">
               <span class="input-group-btn">
                 <button id="support-search-btn" class="btn btn-primary btn-lg" type="button"><i class="fa fa-search"></i>&nbsp; Search</button>
               </span>
             </div>
           </div>
         </form>
         Fin validar giftcard -->
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <a href="javascript:;" class="dashboard-stat tertiary">
          <div class="visual">
            <i class="fa fa-gift"></i>
          </div> <!-- /.visual -->
          <div class="details">
            <span class="content">Giftcards vendidas</span>

            <span class="value">{{ products|length }}</span>
          </div> <!-- /.details -->
          <i class="fa fa-play-circle more"></i>
        </a> <!-- /.dashboard-stat -->
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <a href="javascript:;" class="dashboard-stat primary">
          <div class="visual">
            <i class="fa fa-check"></i>
          </div> <!-- /.visual -->
          <div class="details">
            <span class="content">Giftcards Validadas</span>
            <span class="value">{{ products_validated_qty }}</span>
          </div> <!-- /.details -->
          <i class="fa fa-play-circle more"></i>
        </a> <!-- /.dashboard-stat -->
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <a href="javascript:;" class="dashboard-stat secondary">
          <div class="visual">
            <i class="fa fa-exclamation-circle"></i>
          </div> <!-- /.visual -->
          <div class="details">
            <span class="content">Giftcards por validar</span>
            <span class="value">{{ products_to_validate_qty }}</span>
          </div> <!-- /.details -->
          <i class="fa fa-play-circle more"></i>
        </a> <!-- /.dashboard-stat -->
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <a href="javascript:;" class="dashboard-stat giviu">
          <div class="visual">
            <i class="fa fa-money"></i>
          </div> <!-- /.visual -->
          <div class="details">
            <span class="content">Total Vendido</span>
            <span class="value">{{ total_sold|clp }}</span>
          </div> <!-- /.details -->
          <i class="fa fa-play-circle more"></i>
        </a> <!-- /.dashboard-stat -->
      </div> <!-- /.col-md-9 -->
    </div>

    <hr/>


    <div class="row">

      <div class="col-md-4 col-sm-4">
        <div class="portlet">
          <div class="portlet-header">
            <h3>
              <i class="fa fa-bar-chart-o"></i>
              Ventas por servicio
            </h3>
          </div> <!-- /.portlet-header -->
          <div class="portlet-content">

            <div id="solds" style="height: 250px;"></div>

          </div> <!-- /.portlet-content -->
        </div> <!-- /.portlet -->
      </div><!-- /.col -->


      <div class="col-md-8 col-sm-8">
        <div class="portlet">
          <div class="portlet-header">
            <h3>
              Ultimas Ventas
            </h3>
          </div> <!-- /.portlet-header -->
          <div class="portlet-content">
            {% if products %}
            <table class="table table-striped">
              <tbody>
                {% for product in products %}
                <tr>
                  <td style="width: 125px;">{{ product.created }}</td>
                  <td>
                    <p><strong>{{ product.giftcard.title }}</strong></p>
                    <p>Regalado a: {{ product.giftcard.to.get_full_name }}</p>
                  </td>
                  <td>
                    <div class="thumbnail pull-right" style="width: 60px;">
                      {% if product.giftcard.to.fbid %}
                      <img src="https://graph.facebook.com/{{ product.giftcard.to.fbid }}/picture?width=40&amp;height=40" alt="Avatar">
                      {% else %}
                      <img src="https://graph.facebook.com/200293938/picture?width=40&amp;height=40" alt="Avatar">
                      {% endif %}
                    </div>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
            <a href="javascript:;" class="btn btn-secondary btn-xs pull-right"><i class="fa fa-expand-o"></i> &nbsp; Ver todas las ventas</a>
            {% else %}
            <h4>Todavia no hay ventas :(</h4>
            {% endif %}
          </div> <!-- /.portlet-content -->
        </div> <!-- /.portlet -->
      </div><!-- /.col -->

    </div>

    <hr/>


  </div>
</div> <!-- #content -->
</div> <!-- #wrapper -->

<script>
  $(document).ready(function(){
  $(function () {

  if (!$('#solds').length) { return false; }

  donut ();

  $(window).resize (App.debounce (donut, 500));

  });

  function donut () {
  $('#solds').empty ();

  Morris.Donut({
  element: 'solds',
  data: [
  {label: 'masajes', value: 5 },
  {label: 'masajes 2', value: 10 },
  ],
  colors: App.chartColors,
  hideHover: true,

  formatter: function (y, data) { return data.value  +' vendidos'}
  });
  }
  });
</script>

{% endblock %}
