{% extends "base_merchant.html" %}
{% block content %}
<div id="content">

  <div id="content-header">
    <h1><i class="fa fa-check"></i> Validar giftcard</h1>
  </div> <!-- #content-header -->
  <div id="content-container">
    <!-- validar giftcard multi
         <form id="support-search" class="form">

           <div class="input-group">
             <input class="form-control input-lg" type="text">
             <div class="input-group-btn">
               <button type="button" class="btn btn-primary btn-lg" tabindex="-1">Validar por</button>
               <button type="button" class="btn btn-primary dropdown-toggle btn-lg" data-toggle="dropdown" tabindex="-1">
                 <span class="caret"></span>
               </button>
               <ul class="dropdown-menu pull-right" role="menu">
                 <li><a data-toggle="modal" href="#basicModal">Código Giftcard</a></li>
                 <li><a href="javascript:;">Correo electronico</a></li>
               </ul>
             </div>
           </div>
         </form>
         Fin validar giftcard -->

    <form id="support-search" class="form", >
      <div class="form-group">
        <div class="input-group">
          <input id="giftcard-code" type="text" class="form-control input-lg" name="search" placeholder="Ingresa aquí el código de la giftcard">
          <span class="input-group-btn">
            <input type="submit" value="Buscar" href="#" class="btn btn-primary btn-lg validate" type="button"/>
          </span>
        </div>
      </div>
    </form>
    <!--validation form-->
    <table class="table table-striped" id="validation-table" style="display:none;">
      <tbody>
        <tr>
          <td>
            <p>Giftcard regalada a: <strong id="giftcardto"></strong></p>
            <p>Servicio: <strong id="giftcardtitle"></strong></p>
            <p>Valor giftcard: <strong id="giftcardprice"></strong></p>
          </td>
          <td>
              <div class="fieldset">
              </div>
              <input type="submit" value="Validar" data-id=""  id="validate" class="btn btn-primary btn-lg pull-right"/>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- end validation form -->

  </div>
</div> <!-- #content -->
</div> <!-- #wrapper -->

<input type="hidden" name="client_id" value="{{ client_id.client_id }}">


<script>
$(document).ready(function(){

  $('#validate').on('click',validateGiftcard);


  $('.validate').click(function(e){
    e.preventDefault();
    $('#validation-table').hide();
    $('.fieldset').html('');

      $.ajax({
        type: "GET",
        url: "/api/validate/giftcard/"+$('#giftcard-code').val()+'?client_id='+$('[name="client_id"]').val(),
        cache: false,
        statusCode: {
          200: function(data) {
            if(data.giftcard.already_validated==false){
              console.log(data)
              $(this).attr('disabled','')
              $('#validation-table').show();
              $('#giftcardto').html(data.giftcard.from);
              $('#giftcardtitle').html(data.giftcard.product);
              $('#giftcardprice').html('$'+separador(data.giftcard.giftcard_price));
              $('#validate').attr('data-id',data.giftcard.id)
            }else{
              alert('Ya fue validada')
            }
          },
          404:function(data){
            var error = jQuery.parseJSON(data.responseText);
            alert(error.message)
            $('#validation-table').hide();
          }
        }
      })

    });

  function validateGiftcard(e){
    $(this).attr('disabled','disabled')
    if($(this).attr('data-id')){
      $.ajax({
        type: "PUT",
        url: "/api/validate/giftcard/"+$(this).attr('data-id')+'?client_id='+$('[name="client_id"]').val(),
        cache: false,
        statusCode: {
          200: function(data) {
            alert(data.status);
            $('#validation-table').hide();
            $('#giftcardto').html('');
            $('#giftcardtitle').html('');
            $('#giftcardprice').html('');
            $('#validate').attr('data-id','')   
            $(this).attr('disabled','')
            $('#giftcard-code').val('').focus()
          },
          404:function(data){
            var error = jQuery.parseJSON(data.responseText);
            alert(error.message)
            $('#validation-table').show();
          }
        }
      })
    }else{
        alert('nope');
    }
  }



  function separador(valor) {
    var nums = new Array();
    var simb = "."; //Éste es el separador
    valor = valor.toString();
    valor = valor.replace(/\D/g, "");   //Ésta expresión regular solo permitira ingresar números
    nums = valor.split(""); //Se vacia el valor en un arreglo
    var long = nums.length - 1; // Se saca la longitud del arreglo
    var patron = 3; //Indica cada cuanto se ponen las comas
    var prox = 2; // Indica en que lugar se debe insertar la siguiente coma
    var res = "";

    while (long > prox) {
      nums.splice((long - prox),0,simb); //Se agrega la coma
      prox += patron; //Se incrementa la posición próxima para colocar la coma
    }

    for (var i = 0; i <= nums.length-1; i++) {
      res += nums[i]; //Se crea la nueva cadena para devolver el valor formateado
    }
      return res;
    }

});
</script>

{% endblock %}